In [1]:
import pandas as pd
import numpy as np
import os
import sys
from colorama import Fore, Back, Style
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

In [2]:
ASSEST_SB =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\ASSET_INITIATION_INVENTORY_SB.csv")
ASSEST_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\ASSET_INITIATION_INVENTORY_NB.csv")
INFRA_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\Infrastructure_Devices_SB.csv",sep=';')
INFRA_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\Infrastructure_Devices_NB.csv",sep=';')
METER_STATUS_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_NB.csv")
METER_STATUS_SB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_SB.csv")
DC_NON_COMM =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\eligible DC list with non com meter 7.3.24.csv")


ccr_report_nb =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\New folder\CCReportCurrent_NB.csv")
ccr_report_sb =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\New folder\CCReportCurrent_SB.csv")

In [3]:
ASSEST_NB = ASSEST_NB.astype(str)
ASSEST_NB.columns = ASSEST_NB.columns.str.upper()
ASSEST_NB = ASSEST_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSEST_NB.columns = ASSEST_NB.columns.str.strip()



ASSEST_SB = ASSEST_SB.astype(str)
ASSEST_SB.columns = ASSEST_SB.columns.str.upper()
ASSEST_SB = ASSEST_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSEST_SB.columns = ASSEST_SB.columns.str.strip()
#-------------------------------------------------------------------------------------------

INFRA_SB = INFRA_SB.astype(str)
INFRA_SB.columns = INFRA_SB.columns.str.upper()
INFRA_SB = INFRA_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_SB.columns = INFRA_SB.columns.str.strip()


INFRA_NB = INFRA_NB.astype(str)
INFRA_NB.columns = INFRA_NB.columns.str.upper()
INFRA_NB = INFRA_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_NB.columns = INFRA_NB.columns.str.strip()


#-------------------------------------------------------------------------------------------

METER_STATUS_NB = METER_STATUS_NB.astype(str)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.upper()
METER_STATUS_NB = METER_STATUS_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.strip()


METER_STATUS_SB = METER_STATUS_SB.astype(str)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.upper()
METER_STATUS_SB = METER_STATUS_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.strip()


#-----------------------------------------------------------------------------------------------------



ccr_report_nb = ccr_report_nb.astype(str)
ccr_report_nb.columns = ccr_report_nb.columns.str.upper()
ccr_report_nb = ccr_report_nb.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ccr_report_nb.columns = ccr_report_nb.columns.str.strip()


ccr_report_sb = ccr_report_sb.astype(str)
ccr_report_sb.columns = ccr_report_sb.columns.str.upper()
ccr_report_sb = ccr_report_sb.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ccr_report_sb.columns = ccr_report_sb.columns.str.strip()


#-------------------------------------------------------------------------------------------------------


DC_NON_COMM = DC_NON_COMM.astype(str)
DC_NON_COMM.columns = DC_NON_COMM.columns.str.upper()
DC_NON_COMM = DC_NON_COMM.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
DC_NON_COMM.columns = DC_NON_COMM.columns.str.strip()

In [4]:
DC_NON_COMM.head()

,SDP_UDC_ID,SVC_PT_ID,DEVICE_ID,BALANCE,ORG_ID,INSERT_TIME,INSERT_BY,LAST_UPD_TIME,LAST_UPD_BY,REC_VERSION_NUM,DATA_SRC
0,5001968247,1212603,2846555,-19133.95,102,07-MAR-24 08.02.37.000000000 AM,103,07-MAR-24 08.02.37.000000000 AM,19505,nan,DCScript
1,52253702098,161218,29616,-19122.25,52,07-MAR-24 08.02.37.000000000 AM,53,07-MAR-24 08.02.37.000000000 AM,19602,nan,DCScript
2,5001190961,927508,2289338,-19121.34,52,07-MAR-24 08.02.37.000000000 AM,53,07-MAR-24 08.02.37.000000000 AM,19602,nan,DCScript
3,5001612579,983626,2426439,-19113.48,102,07-MAR-24 08.02.37.000000000 AM,103,07-MAR-24 08.02.37.000000000 AM,19505,nan,DCScript
4,5003998275,1474885,1564173,-19094.4,102,07-MAR-24 08.02.37.000000000 AM,103,07-MAR-24 08.02.37.000000000 AM,19505,nan,DCScript

In [5]:
ASSET_CONCAT_SB_NB = pd.concat([ASSEST_SB, ASSEST_NB], ignore_index=True)
INFRA_CONCAT_SB_NB =  pd.concat([INFRA_SB,INFRA_NB],ignore_index=True)
METER_STATUS_SB_NB =  pd.concat([METER_STATUS_NB,METER_STATUS_SB],ignore_index=True)
CCR_REPORT_SB_NB =  pd.concat([ccr_report_nb,ccr_report_sb],ignore_index=True)

In [6]:
INFRA_CONCAT_SB_NB.head(1)

,INSTALLATIONDATETIME,ENTRYDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER,LASTS05,LASTS02,LASTS04,COORDINATEX,COORDINATEY,STATENAME,IP,UNNAMED: 13
0,8/18/2023 6:11:30 PM,7/31/2023 4:25:14 PM,SBPDCL,5002259607,LNTLT8072561,LT8072561,3/7/2024 12:00:00 AM,10/2/2023 12:00:00 AM,3/1/2024 12:00:00 AM,85.12033,25.6107,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010,nan

In [7]:
METER_STATUS_SB_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,NBPDCL,Installed,Y,Y,Y,8/10/2019 10:06:32 PM,RAMD-2987900004,GOEGP4967851,118101311124.0

In [8]:
METER_STATUS_SB_NB['UTILITY']= METER_STATUS_SB_NB['UTILITY'].str.upper()
METER_STATUS_SB_NB['METERNO']= METER_STATUS_SB_NB['METERNO'].str.upper()
METER_STATUS_SB_NB['INSTALLATIONNO']= METER_STATUS_SB_NB['INSTALLATIONNO'].str.upper()

#  DUPLICATE DATA
METER_STATUS_SB_NB['Duplicated'] = METER_STATUS_SB_NB.duplicated(subset=['METERNO']).map({True: 'Duplicated', False: 'Unique'})


# STORE DATA IN  METER_STATUS_SB_NB_DUPLICATED_DATA
#METER_STATUS_SB_NB_DUPLICATED_DATA = METER_STATUS_SB_NB[METER_STATUS_SB_NB.duplicated(subset=['METERNO'],keep=False)].sort_values(by = ['METERNO','INSERT_TIME'],ascending=[True,False])


# Sorting the DataFrame by 'METERNO' and 'INSERT_TIME' in descending order of time
METER_STATUS_SB_NB.sort_values(by=['METERNO', 'INSERT_TIME'], ascending=[True, False],inplace=True)

# Dropping duplicated rows based on 'METERNO' while keeping the first occurrence (which has the latest 'INSERT_TIME')
METER_STATUS_SB_NB.drop_duplicates(subset=['METERNO'], keep='first', inplace=True)


# drop duplicated column  in meter  status file
METER_STATUS_SB_NB.drop(['Duplicated'],axis=1, inplace = True)

In [9]:
METER_STATUS_SB_NB.head()

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
1093372,SBPDCL,Installed,Y,Y,Y,6/29/2022 12:17:50 PM,5002734269,GOEGL8548280,101875607.0
1122221,SBPDCL,Installed,Y,Y,Y,6/29/2022 12:19:10 PM,5002328874,GOEGL8548281,102197293.0
821315,SBPDCL,Installed,Y,Y,Y,6/30/2022 10:51:06 AM,5001089192,GOEGL8548282,100469034.0
1093167,SBPDCL,Installed,Y,Y,Y,6/30/2022 11:11:30 AM,5002565678,GOEGL8548283,102087971.0
1090960,SBPDCL,Installed,Y,Y,Y,6/28/2022 6:13:27 PM,5002679064,GOEGL8548284,101606545.0

In [10]:
CONCAT_CON_COMM_AASET = pd.merge(DC_NON_COMM, ASSET_CONCAT_SB_NB[['METERNUMBER','UDC_ID','NETWORK_ID','INSTALLATIONNUMBER']], left_on=['SDP_UDC_ID'], right_on=['INSTALLATIONNUMBER'], how='left')

CONCAT_CON_COMM_STATUS = pd.merge(DC_NON_COMM, METER_STATUS_SB_NB[['METERNO','INSTALLATIONNO','CONSUMERNO']], left_on=['SDP_UDC_ID'], right_on=['INSTALLATIONNO'], how='left')

In [11]:
CCR_REPORT_SB_NB.head(1)

,UTILITY,INSTALLATION_NO,CONSUMER_NO,AMOUNT,ELECTRICITY_CHARGES,METER_RENT,FIXED_CHARGES,CREDIT_DEBIT,OPENING_BAL,CLOSING_BAL,CURRENT_READING,PREVIOUS_READING,ARREARS,LAST_UPDATED_ON,RECHARGE,INVOICE
0,NBPDCL,RAMD-2987900004,118101311124,2.67,0.0,0,2.67,0,-2502.29,-2504.96,nan,nan,0,07-MAR-24 01.32.00 PM,0.0,0.0

In [12]:
final_data_eligible_dc_non_com_meter = pd.merge(CONCAT_CON_COMM_AASET,CCR_REPORT_SB_NB[['CLOSING_BAL','LAST_UPDATED_ON','INSTALLATION_NO']],left_on=['SDP_UDC_ID'], right_on=['INSTALLATION_NO'], how='left')

In [13]:
final_data_eligible_dc_non_com_meter.head(1)

,SDP_UDC_ID,SVC_PT_ID,DEVICE_ID,BALANCE,ORG_ID,INSERT_TIME,INSERT_BY,LAST_UPD_TIME,LAST_UPD_BY,REC_VERSION_NUM,DATA_SRC,METERNUMBER,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER,CLOSING_BAL,LAST_UPDATED_ON,INSTALLATION_NO
0,5001968247,1212603,2846555,-19133.95,102,07-MAR-24 08.02.37.000000000 AM,103,07-MAR-24 08.02.37.000000000 AM,19505,nan,DCScript,LNTLT0990766,405856707093118,2405:0203:0530:D4F5:0000:0000:0000:0010,5001968247,-19193.62,07-MAR-24 02.03.20 PM,5001968247

In [14]:
final_data_eligible_dc_non_com_meter.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\final_data_eligible_dc_non_com_meter.csv")

In [15]:
 fa a gas

SyntaxError: invalid syntax (3986526576.py, line 1)

In [ ]:
CCR_REPORT_SB_NB.head(1)

,UTILITY,INSTALLATION_NO,CONSUMER_NO,AMOUNT,ELECTRICITY_CHARGES,METER_RENT,FIXED_CHARGES,CREDIT_DEBIT,OPENING_BAL,CLOSING_BAL,CURRENT_READING,PREVIOUS_READING,ARREARS,LAST_UPDATED_ON,RECHARGE,INVOICE
0,NBPDCL,RAMD-2987900004,118101311124,2.67,0.0,0,2.67,0,-2502.29,-2504.96,nan,nan,0,07-MAR-24 01.32.00 PM,0.0,0.0

In [ ]:
daf a fd adf

In [ ]:
CONCAT_CON_COMM_AASET.head()

,SDP_UDC_ID,SVC_PT_ID,DEVICE_ID,BALANCE,ORG_ID,INSERT_TIME,INSERT_BY,LAST_UPD_TIME,LAST_UPD_BY,REC_VERSION_NUM,DATA_SRC,METERNUMBER,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER
0,5001968247,1212603,2846555,-19133.95,102,07-MAR-24 08.02.37.000000000 AM,103,07-MAR-24 08.02.37.000000000 AM,19505,nan,DCScript,LNTLT0990766,405856707093118,2405:0203:0530:D4F5:0000:0000:0000:0010,5001968247
1,52253702098,161218,29616,-19122.25,52,07-MAR-24 08.02.37.000000000 AM,53,07-MAR-24 08.02.37.000000000 AM,19602,nan,DCScript,GOEGP4958869,404751250458500,2001:4490:0800:BC58:0000:0000:0000:0001,52253702098
2,5001190961,927508,2289338,-19121.34,52,07-MAR-24 08.02.37.000000000 AM,53,07-MAR-24 08.02.37.000000000 AM,19602,nan,DCScript,LNTLT0783016,405856707178627,2405:0203:052C:ABBA:0000:0000:0000:0010,5001190961
3,5001612579,983626,2426439,-19113.48,102,07-MAR-24 08.02.37.000000000 AM,103,07-MAR-24 08.02.37.000000000 AM,19505,nan,DCScript,LNTLT0805392,405856707106470,2405:0203:052D:35F9:0000:0000:0000:0010,5001612579
4,5003998275,1474885,1564173,-19094.4,102,07-MAR-24 08.02.37.000000000 AM,103,07-MAR-24 08.02.37.000000000 AM,19505,nan,DCScript,LNTLT8016191,405856706388635,2405:0203:0526:D9D4:0000:0000:0000:0010,5003998275

In [ ]:
CONCAT_CON_COMM_STATUS.head(1)

,SDP_UDC_ID,SVC_PT_ID,DEVICE_ID,BALANCE,ORG_ID,INSERT_TIME,INSERT_BY,LAST_UPD_TIME,LAST_UPD_BY,REC_VERSION_NUM,DATA_SRC,METERNO,INSTALLATIONNO,CONSUMERNO
0,5001968247,1212603,2846555,-19133.95,102,07-MAR-24 08.02.37.000000000 AM,103,07-MAR-24 08.02.37.000000000 AM,19505,nan,DCScript,LNTLT0990766,5001968247,400807137.0

In [ ]:

CONCAT_CON_COMM_STATUS[CONCAT_CON_COMM_STATUS['METERNO'].isnull()]

,SDP_UDC_ID,SVC_PT_ID,DEVICE_ID,BALANCE,ORG_ID,INSERT_TIME,INSERT_BY,LAST_UPD_TIME,LAST_UPD_BY,REC_VERSION_NUM,DATA_SRC,METERNO,INSTALLATIONNO,CONSUMERNO
396,PHU2402010722,10333,15106,-13821.76,52,07-MAR-24 08.02.37.000000000 AM,53,07-MAR-24 08.02.37.000000000 AM,19602,nan,DCScript,NaN,NaN,NaN
2727,5001435173,35220,117492,-7828.4,52,07-MAR-24 08.02.37.000000000 AM,53,07-MAR-24 08.02.37.000000000 AM,52,nan,DCScript,NaN,NaN,NaN
10277,5002255973,234449,534942,-606.04,52,07-MAR-24 08.02.37.000000000 AM,53,07-MAR-24 08.02.37.000000000 AM,19602,nan,DCScript,NaN,NaN,NaN
39269,5002495767,1581360,3523435,-6.1,52,07-MAR-24 08.02.37.000000000 AM,53,07-MAR-24 08.02.37.000000000 AM,19602,nan,DCScript,NaN,NaN,NaN

In [ ]:
CONCAT_CON_COMM_AASET_NULL = CONCAT_CON_COMM_AASET[CONCAT_CON_COMM_AASET['NETWORK_ID'].isnull()]
CONCAT_CON_COMM_AASET_NULL.drop(['METERNUMBER','UDC_ID','NETWORK_ID','INSTALLATIONNUMBER'], axis=1, inplace=True)


CONCAT_CON_COMM_AASET = pd.merge(CONCAT_CON_COMM_AASET_NULL, ASSEST_SB[['METERNUMBER','UDC_ID','NETWORK_ID','INSTALLATIONNUMBER']], left_on=['SDP_UDC_ID'], right_on=['INSTALLATIONNUMBER'], how='left')

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_45124\835187731.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CONCAT_CON_COMM_AASET_NULL.drop(['METERNUMBER','UDC_ID','NETWORK_ID','INSTALLATIONNUMBER'], axis=1, inplace=True)