
## working on only meter data

# HES DATA

In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import os
import sys
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)
import openpyxl

In [2]:
INFRA_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\infra file\Infrastructure_Devices SB.csv",sep=';')
INFRA_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\infra file\Infrastructure_Devices NB.csv",sep=';')

INFRA_NB.drop(columns=['Unnamed: 13'],axis=1, inplace= True)
INFRA_SB.drop(columns=['Unnamed: 13'],axis=1, inplace= True)

In [3]:
INFRA_NB = INFRA_NB.astype(str)
INFRA_NB.columns = INFRA_NB.columns.str.upper()
INFRA_NB = INFRA_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_NB.columns = INFRA_NB.columns.str.strip()



INFRA_SB = INFRA_SB.astype(str)
INFRA_SB.columns = INFRA_SB.columns.str.upper()
INFRA_SB = INFRA_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_SB.columns = INFRA_SB.columns.str.strip()
#-------------------------------------------------------------------------------------------

In [4]:
INFRA_SB['INSTALLATIONDATETIME'] = pd.to_datetime(INFRA_SB['INSTALLATIONDATETIME'])
INFRA_SB['LASTS05'] = pd.to_datetime(INFRA_SB['LASTS05'])
#INFRA_SB['LastS04'] = pd.to_datetime(INFRA_SB['LastS04'])


#--------------------------------------------------------------------------------------------------


INFRA_NB['INSTALLATIONDATETIME'] = pd.to_datetime(INFRA_NB['INSTALLATIONDATETIME'])
INFRA_NB['LASTS05'] = pd.to_datetime(INFRA_NB['LASTS05'])
#INFRA_NB['LastS04'] = pd.to_datetime(INFRA_NB['LastS04'])

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_10336\944210187.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['INSTALLATIONDATETIME'] = pd.to_datetime(INFRA_SB['INSTALLATIONDATETIME'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_10336\944210187.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['LASTS05'] = pd.to_datetime(INFRA_SB['LASTS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_10336\944210187.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['INSTALLATIONDATETIME'] = pd.to_datetime(INFRA_NB['INSTALLATIONDATETIME'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_10336\944210187.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['LASTS05'] = pd.to_datetime(INFRA_NB['LASTS05'])

In [5]:
# rename the column name

INFRA_NB.rename(
    columns = {"INSTALLATIONDATETIME":"INSTALLATIONDATETIME_NB","UTILITY": "UTILITY_NB",
    "DEVICEID":"DEVICEID_NB","LASTS04":"LASTS04_NB",
    "SERIALNUMBER":"SERIALNUMBER_NB","LASTS05":"LASTS05_NB","STATENAME":"STATENAME_NB",
    "IP":"IP_NB"},inplace=True
)



#-----------------------------------------------------------------




INFRA_SB.rename(
    columns = {"INSTALLATIONDATETIME":"INSTALLATIONDATETIME_SB","UTILITY": "UTILITY_SB",
    "DEVICEID":"DEVICEID_NB","LASTS04":"LASTS04_SB",
    "SERIALNUMBER":"SERIALNUMBER_SB","LASTS05":"LASTS05_SB","STATENAME":"STATENAME_SB",
    "IP":"IP_SB"},inplace=True
)

In [6]:
# Remove cordinatex, cordinatey   from infrasb and infranb file 

INFRA_SB.drop(columns = ['COORDINATEX','COORDINATEY'],axis= 1,inplace= True)
INFRA_NB.drop(columns = ['COORDINATEX','COORDINATEY'],axis= 1,inplace= True)

In [7]:
INFRA_SB.head(1)

,INSTALLATIONDATETIME_SB,ENTRYDATETIME,UTILITY_SB,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER_SB,LASTS05_SB,LASTS02,LASTS04_SB,STATENAME_SB,IP_SB
0,2023-08-18 18:11:30,7/31/2023 4:25:14 PM,SBPDCL,5002259607,LNTLT8072561,LT8072561,2024-09-18,10/2/2023 12:00:00 AM,9/1/2024 12:00:00 AM,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010

## check duplicate data

In [8]:
# checking duplicate meter in utility - sb

INFRA_SB[INFRA_SB.duplicated(subset = ["SERIALNUMBER_SB"])]

Empty DataFrame
Columns: [INSTALLATIONDATETIME_SB, ENTRYDATETIME, UTILITY_SB, UTILITYSITEID, UTILITYDEVICEID, SERIALNUMBER_SB, LASTS05_SB, LASTS02, LASTS04_SB, STATENAME_SB, IP_SB]
Index: []

In [9]:
# checking duplicate meter in utility - nb

INFRA_NB[INFRA_NB.duplicated(subset = ["SERIALNUMBER_NB"])]

Empty DataFrame
Columns: [INSTALLATIONDATETIME_NB, ENTRYDATETIME, UTILITY_NB, UTILITYSITEID, UTILITYDEVICEID, SERIALNUMBER_NB, LASTS05_NB, LASTS02, LASTS04_NB, STATENAME_NB, IP_NB]
Index: []

In [10]:
# join on  meter no-  now check duplicate meter in nb and sb both

HES_NB_SB_DATA_METER_NO = pd.merge(INFRA_NB, INFRA_SB, left_on=['SERIALNUMBER_NB'], right_on=['SERIALNUMBER_SB'], how='inner')
HES_NB_SB_DATA_METER_NO.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT_FOLDER_HES_MDM_METER\HES_NB_SB_DATA_METER_NO.csv")

# MDM DATA

In [11]:
mdm_nb = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\ASSET_INITIATION_INVENTORY_nb.csv")
mdm_sb = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\ASSET_INITIATION_INVENTORY_sb.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_10336\2900168889.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  mdm_nb = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\ASSET_INITIATION_INVENTORY_nb.csv")

In [12]:
mdm_sb = mdm_sb[mdm_sb['Status']=='Installed']
mdm_nb = mdm_nb[mdm_nb['Status']=='Installed']

In [13]:

mdm_nb = mdm_nb.astype(str)
mdm_sb = mdm_sb.astype(str)


mdm_nb.columns = mdm_nb.columns.str.strip()
mdm_sb.columns = mdm_sb.columns.str.strip()


mdm_sb.columns = mdm_sb.columns.str.upper()
mdm_nb.columns = mdm_nb.columns.str.upper()

In [14]:
# rename the column name

mdm_nb.rename(
    columns = {"METERNUMBER":"METERNUMBER_NB","MFG_SERIAL_NUM": "MFG_SERIAL_NUM_NB",
    "UDC_ID":"UDC_ID_NB","NETWORK_ID":"NETWORK_ID_NB",
    "INSTALLATIONNUMBER":"INSTALLATIONNUMBER_NB","STATUS":"STATUS_NB","INSERT_TIME":"INSERT_TIME_NB",
    "DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')":"UTILITY_NB"},inplace=True
)



#-----------------------------------------------------------------




mdm_sb.rename(
    columns = {"METERNUMBER":"METERNUMBER_SB","MFG_SERIAL_NUM": "MFG_SERIAL_NUM_SB",
    "UDC_ID":"UDC_ID_SB","NETWORK_ID":"NETWORK_ID_SB",
    "INSTALLATIONNUMBER":"INSTALLATIONNUMBER_SB","STATUS":"STATUS_SB","INSERT_TIME":"INSERT_TIME_SB",
    "DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')":"UTILITY_SB"},inplace=True
)

### DUPLICATE DATA IN NB AND SB IN MDM

In [15]:
# DUPLICATE DATA IN NB AND SB IN MDM

Mdm_nb_sb_meter_no_data = pd.merge(mdm_nb,mdm_sb , left_on=['MFG_SERIAL_NUM_NB'], right_on = ['MFG_SERIAL_NUM_SB'], how = 'inner')
Mdm_nb_sb_meter_no_data = Mdm_nb_sb_meter_no_data[(Mdm_nb_sb_meter_no_data['STATUS_NB']=='Installed') & (Mdm_nb_sb_meter_no_data['STATUS_SB']=='Installed')]
Mdm_nb_sb_meter_no_data.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT_FOLDER_HES_MDM_METER\MDM_NB_SB_DATA_METER_NO.csv")

In [16]:
Mdm_nb_sb_meter_no_data.shape

(1035, 16)

In [17]:
Mdm_nb_sb_meter_no_data['MFG_SERIAL_NUM_NB'].unique().shape

(261,)

In [18]:
Mdm_nb_sb_meter_no_data.groupby('MFG_SERIAL_NUM_NB')['METERNUMBER_NB'].count()

MFG_SERIAL_NUM_NB
GL8573393    4
GL8612557    4
GL8626858    4
GL8907786    4
GL8914175    4
            ..
LT0979160    4
LT0986686    4
LT0987555    4
LT1017485    4
LT1052044    4
Name: METERNUMBER_NB, Length: 261, dtype: int64

### CHECK METER NO. DUPLCATE IN NB UITILITY

In [19]:
# SCHECK METER NO. DUPLCATE IN NB UITILITY


MDM_NB_INSTALLED_DATA = mdm_nb[mdm_nb['STATUS_NB']=='Installed']
MDM_NB_DATA_METER = MDM_NB_INSTALLED_DATA[MDM_NB_INSTALLED_DATA.duplicated(subset = ["MFG_SERIAL_NUM_NB"])]
MDM_NB_DATA_METER.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT_FOLDER_HES_MDM_METER\MDM_NB_DATA_METER.csv")

In [20]:
MDM_NB_DATA_METER.shape

(43692, 8)

In [21]:
## unique meter in nb

MDM_NB_DATA_METER['MFG_SERIAL_NUM_NB'].unique().shape

(31521,)

In [22]:
MDM_NB_DATA_METER.groupby('MFG_SERIAL_NUM_NB')['METERNUMBER_NB'].count()

MFG_SERIAL_NUM_NB
GL8548353    1
GL8548408    1
GL8548429    1
GL8548775    1
GL8549117    1
            ..
LT8044212    1
LT8045131    1
LT8045242    1
LT8049520    1
LT8050156    1
Name: METERNUMBER_NB, Length: 31521, dtype: int64

### CHECK METER NO. DUPLCATE IN SB UITILITY

In [23]:
# SCHECK METER NO. DUPLCATE IN SB UITILITY


MDM_SB_INSTALLED_DATA = mdm_sb[mdm_sb['STATUS_SB']=='Installed']
MDM_SB_DATA_METER = MDM_SB_INSTALLED_DATA[MDM_SB_INSTALLED_DATA.duplicated(subset = ["MFG_SERIAL_NUM_SB"])]
MDM_SB_DATA_METER.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT_FOLDER_HES_MDM_METER\MDM_SB_DATA_METER.csv")

In [24]:
MDM_SB_DATA_METER.shape

(113193, 8)

In [25]:
## unique meter in nb

MDM_SB_DATA_METER['MFG_SERIAL_NUM_SB'].unique().shape

(68178,)

In [26]:
MDM_SB_DATA_METER.groupby('MFG_SERIAL_NUM_SB')['MFG_SERIAL_NUM_SB'].count()

MFG_SERIAL_NUM_SB
GL8548303    3
GL8548461    3
GL8548474    3
GL8548478    1
GL8548486    1
            ..
LT8066796    1
LT8066888    1
LT8067908    1
LT8067999    1
LT8068727    1
Name: MFG_SERIAL_NUM_SB, Length: 68178, dtype: int64

## MDM AND HES METER DULICATES

### MDM - HES --> SAME UTILITY

In [27]:
mdm_nb.head(1)

,METERNUMBER_NB,MFG_SERIAL_NUM_NB,UDC_ID_NB,NETWORK_ID_NB,INSTALLATIONNUMBER_NB,STATUS_NB,INSERT_TIME_NB,UTILITY_NB
1,GOEGP4881969,GP4881969,404751250450510,2001:4490:0800:A41A:0000:0000:0000:0001,DALGND-816,Installed,9/9/2019 1:01:27 AM,NBPDCL

In [28]:
# NBPDCL

INFRA_NB_MDM_NB_METER = pd.merge(INFRA_NB,mdm_nb, left_on='SERIALNUMBER_NB',right_on= 'MFG_SERIAL_NUM_NB', how = 'inner')
HES_MDM_NB_METER_DATA = INFRA_NB_MDM_NB_METER[INFRA_NB_MDM_NB_METER.duplicated(subset=['SERIALNUMBER_NB'])]
HES_MDM_NB_METER_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT_FOLDER_HES_MDM_METER\HES_MDM_NB_METER_DATA.csv")

In [29]:
HES_MDM_NB_METER_DATA['MFG_SERIAL_NUM_NB'].unique().shape

(31077,)

In [30]:
mdm_sb.head(1)

,METERNUMBER_SB,MFG_SERIAL_NUM_SB,UDC_ID_SB,NETWORK_ID_SB,INSTALLATIONNUMBER_SB,STATUS_SB,INSERT_TIME_SB,UTILITY_SB
1,GOEGP4882550,GP4882550,404751250450725,2001:4490:0800:A4F1:0000:0000:0000:1,ARWARL5842,Installed,9/2/2019 1:08:20 AM,SBPDCL

In [31]:
# SBPDCL

INFRA_SB_MDM_SB_METER = pd.merge(INFRA_SB,mdm_sb, left_on='SERIALNUMBER_SB',right_on= 'MFG_SERIAL_NUM_SB', how = 'inner')
HES_MDM_SB_METER_DATA = INFRA_SB_MDM_SB_METER[INFRA_SB_MDM_SB_METER.duplicated(subset=['SERIALNUMBER_SB'])]
HES_MDM_SB_METER_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT_FOLDER_HES_MDM_METER\HES_MDM_SB_METER_DATA.csv")

In [32]:
HES_MDM_SB_METER_DATA.shape

(112185, 19)

In [33]:
HES_MDM_SB_METER_DATA['MFG_SERIAL_NUM_SB'].unique().shape

(67335,)

## HES - MDM DIFF UTILITY

In [34]:
#  HES - NB    AND  MDM - SB  METERS

INFRA_NB_MDM_SB_METER = pd.merge(INFRA_NB,mdm_sb, left_on='SERIALNUMBER_NB',right_on= 'MFG_SERIAL_NUM_SB', how = 'inner')
INFRA_NB_MDM_SB_METER.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT_FOLDER_HES_MDM_METER\INFRA_NB_MDM_SB_METER.csv")

In [36]:
INFRA_NB_MDM_SB_METER.shape

(1074, 19)

In [35]:
#  HES - SB    AND  MDM - NB  METERS

INFRA_SB_MDM_NB_METER = pd.merge(INFRA_SB,mdm_nb, left_on='SERIALNUMBER_SB',right_on= 'MFG_SERIAL_NUM_NB', how = 'inner')
INFRA_SB_MDM_NB_METER.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT_FOLDER_HES_MDM_METER\INFRA_SB_MDM_NB_METER.csv")

In [37]:
INFRA_SB_MDM_NB_METER.shape

(309, 19)