In [2]:
import pandas as pd
import pandas as pd
import numpy as np
import os
import sys
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

In [2]:
ASSEST_SB =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\ASSET_INITIATION_INVENTORY_SB.csv")
ASSEST_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\ASSET_INITIATION_INVENTORY_NB.csv")
INFRA_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\Infrastructure_Devices_SB.csv",sep=';')
INFRA_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\Infrastructure_Devices_NB.csv",sep=';')
METER_STATUS_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_NB.csv")
METER_STATUS_SB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_SB.csv")

In [3]:
INFRA_NB.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,Unnamed: 13
0,1/3/2024 10:49:59 PM,10/24/2023 10:04:41 PM,NBPDCL,5001461671,LNTLT8069351,LT8069351,4/1/2024 12:00:00 AM,NaN,4/1/2024 12:00:00 AM,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,NaN

In [4]:
INFRA_SB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)
INFRA_NB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)

In [5]:
print(f"Infra sb size :  {INFRA_SB.shape}")

print(f"Infra nb size :  {INFRA_NB.shape}")

Infra sb size :  (885417, 13)
Infra nb size :  (686221, 13)

In [6]:
#  imorted and installed data

#INFRA_SB=INFRA_SB[INFRA_SB['StateName']=='Imported&&Installed']
#INFRA_NB=INFRA_NB[INFRA_NB['StateName']=='Imported&&Installed']

In [6]:
print(f"Infra sb size :  {INFRA_SB.shape}")

print(f"Infra nb size :  {INFRA_NB.shape}")

Infra sb size :  (885417, 13)
Infra nb size :  (686221, 13)

In [7]:
INFRA_SB['StateName'].unique()

array(['Imported&&Installed', 'Installed&&Imported',
       'Imported&&Operative', 'Imported&&Discovered&&Installed',
       'Imported&&Operative&&Registering', 'Installed', 'Operative',
       'Installed&&Registering', 'Operative&&Registering', 'Imported',
       'Discovered&&Imported', 'Imported&&Discovered',
       'Operative&&Imported', 'Imported&&Installed&&Registering',
       'SecuringError&&Installed'], dtype=object)

In [8]:
INFRA_NB['StateName'].unique()

array(['Imported&&Installed', 'Installed&&Imported',
       'Imported&&Operative', 'Operative&&Imported',
       'SecuringError&&Installed', 'Imported&&Discovered&&Installed',
       'Imported', 'Installed', 'Imported&&Discovered',
       'Imported&&Discovered&&Operative',
       'Imported&&Installed&&Registering',
       'Registering&&Imported&&Installed',
       'Installed&&Registering&&Imported',
       'Imported&&Operative&&Registering'], dtype=object)

In [9]:
INFRA_SB.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip
0,8/18/2023 6:11:30 PM,7/31/2023 4:25:14 PM,SBPDCL,5002259607,LNTLT8072561,LT8072561,4/1/2024 12:00:00 AM,10/2/2023 12:00:00 AM,4/1/2024 12:00:00 AM,85.12033,25.6107,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010

In [10]:
INFRA_NB[INFRA_NB['Ip'].isnull()]

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip
11602,1/23/2024 6:36:11 PM,1/1/2022 3:55:15 PM,NBPDCL,5003874527,LNTLT8010461,LT8010461,1/23/2024 12:00:00 AM,10/2/2023 12:00:00 AM,1/1/2024 12:00:00 AM,86.60298,26.11732,Imported&&Installed,NaN
14298,3/20/2024 12:13:28 PM,12/24/2022 10:36:52 PM,NBPDCL,5003959448,LNTLT1059283,LT1059283,8/9/2023 12:00:00 AM,8/9/2023 12:00:00 AM,8/1/2023 12:00:00 AM,84.53195,26.80296,Imported&&Installed,NaN
16572,3/30/2024 4:07:05 PM,12/24/2022 10:20:14 PM,NBPDCL,5000339684,LNTLT1056941,LT1056941,9/27/2023 12:00:00 AM,9/27/2023 12:00:00 AM,9/1/2023 12:00:00 AM,84.75176,25.77707,Imported&&Installed,NaN
18403,3/29/2024 4:06:10 PM,12/19/2022 4:18:49 PM,NBPDCL,5004074444,LNTLT1050067,LT1050067,8/27/2023 12:00:00 AM,8/30/2023 12:00:00 AM,8/1/2023 12:00:00 AM,84.50027,26.81162,Imported&&Installed,NaN
21817,3/22/2024 12:14:02 PM,12/19/2022 4:12:37 PM,NBPDCL,5004003171,LNTLT1046564,LT1046564,8/8/2023 12:00:00 AM,8/8/2023 12:00:00 AM,8/1/2023 12:00:00 AM,84.52068,26.79155,Imported&&Installed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609498,3/13/2024 12:19:28 PM,5/4/2023 4:44:46 PM,NBPDCL,52058748853,GOEGL9017377,GL9017377,3/13/2024 12:00:00 AM,10/2/2023 12:00:00 AM,3/1/2024 12:00:00 AM,85.28052,26.51734,Imported&&Installed,NaN
649683,3/28/2024 8:52:15 PM,3/1/2023 9:06:53 PM,NBPDCL,5000747702,GOEGL8923140,GL8923140,10/3/2023 12:00:00 AM,10/2/2023 12:00:00 AM,10/1/2023 12:00:00 AM,85.52242,26.55243,Imported&&Installed,NaN
657556,3/24/2024 12:13:32 PM,2/1/2023 11:27:40 PM,NBPDCL,5000338639,GOEGL8888869,GL8888869,6/27/2023 12:00:00 AM,6/27/2023 12:00:00 AM,6/1/2023 12:00:00 AM,84.76208,25.77141,Imported&&Installed,NaN
665514,3/19/2024 11:52:24 AM,1/28/2023 3:11:42 PM,NBPDCL,5004028560,GOEGL8875345,GL8875345,2/3/2024 12:00:00 AM,NaN,1/1/2023 12:00:00 AM,84.37134,26.21843,Imported&&Installed,NaN
678011,3/28/2024 8:52:14 PM,9/16/2022 2:04:21 PM,NBPDCL,SHES1231100688,GOEGL8627710,GL8627710,8/5/2023 12:00:00 AM,8/5/2023 12:00:00 AM,8/1/2023 12:00:00 AM,85.29680,26.51488,Imported&&Installed,NaN

In [12]:
INFRA_SB.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip
0,8/18/2023 6:11:30 PM,7/31/2023 4:25:14 PM,SBPDCL,5002259607,LNTLT8072561,LT8072561,3/6/2024 12:00:00 AM,10/2/2023 12:00:00 AM,3/1/2024 12:00:00 AM,85.12033,25.6107,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010

In [11]:
INFRA_NB.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip
0,1/3/2024 10:49:59 PM,10/24/2023 10:04:41 PM,NBPDCL,5001461671,LNTLT8069351,LT8069351,4/1/2024 12:00:00 AM,NaN,4/1/2024 12:00:00 AM,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010

# logic for communicating meter

In [12]:
INFRA_SB['InstallationDatetime'] = pd.to_datetime(INFRA_SB['InstallationDatetime'])
INFRA_SB['EntryDatetime'] = pd.to_datetime(INFRA_SB['EntryDatetime'])
INFRA_SB['LastS05'] = pd.to_datetime(INFRA_SB['LastS05'])
INFRA_SB['LastS02'] = pd.to_datetime(INFRA_SB['LastS02'])
INFRA_SB['LastS04'] = pd.to_datetime(INFRA_SB['LastS04'])


#--------------------------------------------------------------------------------------------------


INFRA_NB['InstallationDatetime'] = pd.to_datetime(INFRA_NB['InstallationDatetime'])
INFRA_NB['EntryDatetime'] = pd.to_datetime(INFRA_NB['EntryDatetime'])
INFRA_NB['LastS05'] = pd.to_datetime(INFRA_NB['LastS05'])
INFRA_NB['LastS02'] = pd.to_datetime(INFRA_NB['LastS02'])
INFRA_NB['LastS04'] = pd.to_datetime(INFRA_NB['LastS04'])

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['InstallationDatetime'] = pd.to_datetime(INFRA_SB['InstallationDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['EntryDatetime'] = pd.to_datetime(INFRA_SB['EntryDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['LastS05'] = pd.to_datetime(INFRA_SB['LastS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['LastS02'] = pd.to_datetime(INFRA_SB['LastS02'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['LastS04'] = pd.to_datetime(INFRA_SB['LastS04'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['InstallationDatetime'] = pd.to_datetime(INFRA_NB['InstallationDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['EntryDatetime'] = pd.to_datetime(INFRA_NB['EntryDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['LastS05'] = pd.to_datetime(INFRA_NB['LastS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['LastS02'] = pd.to_datetime(INFRA_NB['LastS02'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\1888023471.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['LastS04'] = pd.to_datetime(INFRA_NB['LastS04'])

In [13]:
INFRA_SB_NOT_NULL = INFRA_SB[~INFRA_SB['LastS05'].isnull()]
INFRA_NB_NOT_NULL = INFRA_NB[~INFRA_NB['LastS05'].isnull()]

In [14]:
# Calculate the date 7 days ago
seven_days_ago = datetime.now() - timedelta(days=7)


# Filter the DataFrame to keep only rows before the last 7 days
INFRA_NB_COMM_DATA = INFRA_NB_NOT_NULL[INFRA_NB_NOT_NULL['LastS05'] > seven_days_ago]
INFRA_SB_COMM_DATA = INFRA_SB_NOT_NULL[INFRA_SB_NOT_NULL['LastS05'] > seven_days_ago]

In [15]:
INFRA_NB_COMM_DATA.head()

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip
0,2024-01-03 22:49:59,2023-10-24 22:04:41,NBPDCL,5001461671,LNTLT8069351,LT8069351,2024-04-01,NaT,2024-04-01,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010
1,2024-01-03 22:49:58,2023-10-24 22:03:08,NBPDCL,5001911925,LNTLT8069324,LT8069324,2024-04-01,NaT,2024-04-01,85.10407,25.62774,Imported&&Installed,2405:0203:0535:37CA:0000:0000:0000:0010
2,2024-01-03 22:49:57,2023-10-24 22:01:09,NBPDCL,5001716940,LNTLT8069098,LT8069098,2024-04-01,NaT,2024-04-01,85.04200,25.62588,Imported&&Installed,2405:0203:0535:36E8:0000:0000:0000:0010
3,2024-01-03 22:49:56,2023-10-24 21:59:06,NBPDCL,5001526870,LNTLT8069092,LT8069092,2024-04-01,NaT,2024-04-01,85.04198,25.62589,Imported&&Installed,2405:0203:0535:36E2:0000:0000:0000:0010
4,2024-01-03 22:49:54,2023-10-24 21:55:54,NBPDCL,5001617773,LNTLT8068444,LT8068444,2024-04-01,NaT,2024-04-01,85.12609,25.62082,Imported&&Installed,2405:0203:0535:345A:0000:0000:0000:0010

In [18]:
# dropping some column

In [16]:
INFRA_NB_COMM_DATA.drop(columns=['EntryDatetime','LastS02','LastS04','CoordinateX','CoordinateY'],axis=1,inplace=True)
INFRA_SB_COMM_DATA.drop(columns=['EntryDatetime','LastS02','LastS04','CoordinateX','CoordinateY'],axis=1,inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\2090158918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INFRA_NB_COMM_DATA.drop(columns=['EntryDatetime','LastS02','LastS04','CoordinateX','CoordinateY'],axis=1,inplace=True)
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_27980\2090158918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INFRA_SB_COMM_DATA.drop(columns=['EntryDatetime','LastS02','LastS04','CoordinateX','CoordinateY'],axis=1,inplace=True)

In [17]:
INFRA_SB_COMM_DATA.head()

,InstallationDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,StateName,Ip
0,2023-08-18 18:11:30,SBPDCL,5002259607,LNTLT8072561,LT8072561,2024-04-01,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010
1,2023-08-23 12:56:11,SBPDCL,5001936506,LNTLT8072560,LT8072560,2024-04-01,Imported&&Installed,2405:0203:0534:79A3:0000:0000:0000:0010
2,2023-08-23 12:56:04,SBPDCL,5001837235,LNTLT8072559,LT8072559,2024-04-01,Imported&&Installed,2405:0203:0535:126D:0000:0000:0000:0010
3,2023-09-13 12:10:33,SBPDCL,5001797916,LNTLT8072558,LT8072558,2024-04-01,Imported&&Installed,2405:0203:0534:7969:0000:0000:0000:0010
4,2023-08-22 18:22:41,SBPDCL,5001578742,LNTLT8072557,LT8072557,2024-04-01,Imported&&Installed,2405:0203:0534:7968:0000:0000:0000:0010

In [18]:
INFRA_NB_COMM_DATA = INFRA_NB_COMM_DATA.astype(str)
INFRA_NB_COMM_DATA.columns = INFRA_NB_COMM_DATA.columns.str.upper()
INFRA_NB_COMM_DATA = INFRA_NB_COMM_DATA.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_NB_COMM_DATA.columns = INFRA_NB_COMM_DATA.columns.str.strip()



INFRA_SB_COMM_DATA = INFRA_SB_COMM_DATA.astype(str)
INFRA_SB_COMM_DATA.columns = INFRA_SB_COMM_DATA.columns.str.upper()
INFRA_SB_COMM_DATA = INFRA_SB_COMM_DATA.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_SB_COMM_DATA.columns = INFRA_SB_COMM_DATA.columns.str.strip()
#-------------------------------------------------------------------------------------------

In [19]:
INFRA_NB_COMM_DATA.head(1)

,INSTALLATIONDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER,LASTS05,STATENAME,IP
0,2024-01-03 22:49:59,NBPDCL,5001461671,LNTLT8069351,LT8069351,2024-04-01,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010

In [23]:
# rename the column name

INFRA_NB_COMM_DATA.rename(
    columns = {"INSTALLATIONDATETIME":"INSTALLATIONDATETIME_NB","UTILITY": "UTILITY_NB",
    "UTILITYSITEID":"UTILITYSITEID_NB","UTILITYDEVICEID":"UTILITYDEVICEID_NB",
    "SERIALNUMBER":"SERIALNUMBER_NB","LASTS05":"LASTS05_NB","STATENAME":"STATENAME_NB",
    "IP":"IP_NB"},inplace=True
)



#-----------------------------------------------------------------




INFRA_SB_COMM_DATA.rename(
    columns = {"INSTALLATIONDATETIME":"INSTALLATIONDATETIME_SB","UTILITY": "UTILITY_SB",
    "UTILITYSITEID":"UTILITYSITEID_SB","UTILITYDEVICEID":"UTILITYDEVICEID_SB",
    "SERIALNUMBER":"SERIALNUMBER_SB","LASTS05":"LASTS05_SB","STATENAME":"STATENAME_SB",
    "IP":"IP_SB"},inplace=True
)

# JOIN

In [26]:



# JOIN ON   METER NO.

HES_NB_SB_DATA_METER_NO = pd.merge(INFRA_NB_COMM_DATA, INFRA_SB_COMM_DATA, left_on=['UTILITYDEVICEID_NB'], right_on=['UTILITYDEVICEID_SB'], how='inner')
HES_NB_SB_DATA_METER_NO.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_METER_NO.csv")


# join on 

HES_NB_SB_DATA_SERIAL_NO = pd.merge(INFRA_NB_COMM_DATA, INFRA_SB_COMM_DATA, left_on=['SERIALNUMBER_NB'], right_on=['SERIALNUMBER_SB'], how='inner')
HES_NB_SB_DATA_SERIAL_NO.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_SERIAL_NO.csv")


# JOIN ON INSTALLATION FILE

HES_NB_SB_DATA_INSTALLATION_NO = pd.merge(INFRA_NB_COMM_DATA, INFRA_SB_COMM_DATA, left_on=['UTILITYSITEID_NB'], right_on=['UTILITYSITEID_SB'], how='inner')
HES_NB_SB_DATA_INSTALLATION_NO.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_INSTALLATION_NO.csv")


# JOIN ON IP DATA

HES_NB_SB_DATA_IP = pd.merge(INFRA_NB_COMM_DATA, INFRA_SB_COMM_DATA, left_on=['IP_NB'], right_on=['IP_SB'], how='inner')
HES_NB_SB_DATA_IP=HES_NB_SB_DATA_IP[(HES_NB_SB_DATA_IP['IP_NB']==HES_NB_SB_DATA_IP['IP_SB']) & (HES_NB_SB_DATA_IP['IP_NB']!='nan')  &  (HES_NB_SB_DATA_IP['IP_SB']!='nan') ]
HES_NB_SB_DATA_IP.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_IP.csv")


# JOIN ON METER AND INSTALLATION DATA

HES_NB_SB_DATA_METER_AND_IP = pd.merge(INFRA_NB_COMM_DATA, INFRA_SB_COMM_DATA, left_on=['UTILITYDEVICEID_NB','IP_NB'], right_on=['UTILITYDEVICEID_SB','IP_SB'], how='inner')
HES_NB_SB_DATA_METER_AND_IP.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_METER_AND_IP.csv")

In [ ]:
HES_NB_SB_DATA_SERIAL_NO = pd.merge(INFRA_NB_COMM_DATA, INFRA_SB_COMM_DATA, left_on=['SERIALNUMBER_NB'], right_on=['SERIALNUMBER_SB'], how='inner')
HES_NB_SB_DATA_SERIAL_NO.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_SERIAL_NO.csv")

In [ ]:
HES_NB_SB_DATA_SERIAL_NO

Empty DataFrame
Columns: [INSTALLATIONDATETIME_NB, UTILITY_NB, UTILITYSITEID_NB, UTILITYDEVICEID_NB, SERIALNUMBER_NB, LASTS05_NB, STATENAME_NB, IP_NB, INSTALLATIONDATETIME_SB, UTILITY_SB, UTILITYSITEID_SB, UTILITYDEVICEID_SB, SERIALNUMBER_SB, LASTS05_SB, STATENAME_SB, IP_SB]
Index: []

In [ ]:
HES_NB_SB_DATA_METER_NO

,INSTALLATIONDATETIME_NB,UTILITY_NB,UTILITYSITEID_NB,UTILITYDEVICEID_NB,SERIALNUMBER_NB,LASTS05_NB,STATENAME_NB,IP_NB,INSTALLATIONDATETIME_SB,UTILITY_SB,UTILITYSITEID_SB,UTILITYDEVICEID_SB,SERIALNUMBER_SB,LASTS05_SB,STATENAME_SB,IP_SB
0,2024-02-26 12:33:31,NBPDCL,5000633807,LNTLT0094537,LT0187098,2024-03-05,Imported&&Installed,2405:0203:0523:762D:0000:0000:0000:0010,2024-02-27 15:14:42,SBPDCL,5003252945,LNTLT0094537,LT0850321,2024-03-05,Imported&&Installed,2405:0203:052D:E579:0000:0000:0000:0010
1,2024-02-26 12:33:31,NBPDCL,5000633807,LNTLT0094537,LT0187098,2024-03-05,Imported&&Installed,2405:0203:0523:762D:0000:0000:0000:0010,2024-02-26 12:33:38,SBPDCL,5000788042,LNTLT0094537,LT0623471,2024-03-05,Imported&&Installed,2405:0203:052A:16B8:0000:0000:0000:0010
2,2024-02-26 12:34:26,NBPDCL,5001294876,LNTLT0094537,LT0116410,2024-03-05,Imported&&Installed,2405:0203:0529:64C1:0000:0000:0000:0010,2024-02-27 15:14:42,SBPDCL,5003252945,LNTLT0094537,LT0850321,2024-03-05,Imported&&Installed,2405:0203:052D:E579:0000:0000:0000:0010
3,2024-02-26 12:34:26,NBPDCL,5001294876,LNTLT0094537,LT0116410,2024-03-05,Imported&&Installed,2405:0203:0529:64C1:0000:0000:0000:0010,2024-02-26 12:33:38,SBPDCL,5000788042,LNTLT0094537,LT0623471,2024-03-05,Imported&&Installed,2405:0203:052A:16B8:0000:0000:0000:0010
4,2024-02-23 12:37:37,NBPDCL,5001249384,LNTLT0094537,LT0101596,2024-03-05,Imported&&Installed,2405:0203:0521:98F2:0000:0000:0000:0010,2024-02-27 15:14:42,SBPDCL,5003252945,LNTLT0094537,LT0850321,2024-03-05,Imported&&Installed,2405:0203:052D:E579:0000:0000:0000:0010
5,2024-02-23 12:37:37,NBPDCL,5001249384,LNTLT0094537,LT0101596,2024-03-05,Imported&&Installed,2405:0203:0521:98F2:0000:0000:0000:0010,2024-02-26 12:33:38,SBPDCL,5000788042,LNTLT0094537,LT0623471,2024-03-05,Imported&&Installed,2405:0203:052A:16B8:0000:0000:0000:0010
6,2024-02-24 15:23:36,NBPDCL,5003714679,LNTLT0094537,LT0094537,2024-03-05,Imported&&Installed,2405:0203:0521:7D87:0000:0000:0000:0010,2024-02-27 15:14:42,SBPDCL,5003252945,LNTLT0094537,LT0850321,2024-03-05,Imported&&Installed,2405:0203:052D:E579:0000:0000:0000:0010
7,2024-02-24 15:23:36,NBPDCL,5003714679,LNTLT0094537,LT0094537,2024-03-05,Imported&&Installed,2405:0203:0521:7D87:0000:0000:0000:0010,2024-02-26 12:33:38,SBPDCL,5000788042,LNTLT0094537,LT0623471,2024-03-05,Imported&&Installed,2405:0203:052A:16B8:0000:0000:0000:0010

In [ ]:
 adf  fads

# DATA CHECK

In [ ]:
INFRA_NB_COMM_DATA[INFRA_NB_COMM_DATA['UTILITYDEVICEID_NB']=='LNTLT0094537']

,INSTALLATIONDATETIME_NB,UTILITY_NB,UTILITYSITEID_NB,UTILITYDEVICEID_NB,SERIALNUMBER_NB,LASTS05_NB,STATENAME_NB,IP_NB
414261,2024-02-26 12:33:31,NBPDCL,5000633807,LNTLT0094537,LT0187098,2024-03-05,Imported&&Installed,2405:0203:0523:762D:0000:0000:0000:0010
443010,2024-02-26 12:34:26,NBPDCL,5001294876,LNTLT0094537,LT0116410,2024-03-05,Imported&&Installed,2405:0203:0529:64C1:0000:0000:0000:0010
451596,2024-02-23 12:37:37,NBPDCL,5001249384,LNTLT0094537,LT0101596,2024-03-05,Imported&&Installed,2405:0203:0521:98F2:0000:0000:0000:0010
451654,2024-02-24 15:23:36,NBPDCL,5003714679,LNTLT0094537,LT0094537,2024-03-05,Imported&&Installed,2405:0203:0521:7D87:0000:0000:0000:0010

In [ ]:
INFRA_NB_COMM_DATA[INFRA_NB_COMM_DATA['SERIALNUMBER_NB']=='LT0187098']

,INSTALLATIONDATETIME_NB,UTILITY_NB,UTILITYSITEID_NB,UTILITYDEVICEID_NB,SERIALNUMBER_NB,LASTS05_NB,STATENAME_NB,IP_NB
414261,2024-02-26 12:33:31,NBPDCL,5000633807,LNTLT0094537,LT0187098,2024-03-05,Imported&&Installed,2405:0203:0523:762D:0000:0000:0000:0010

In [ ]:
INFRA_NB_COMM_DATA[INFRA_NB_COMM_DATA['SERIALNUMBER_NB']=='LT0116410']

,INSTALLATIONDATETIME_NB,UTILITY_NB,UTILITYSITEID_NB,UTILITYDEVICEID_NB,SERIALNUMBER_NB,LASTS05_NB,STATENAME_NB,IP_NB
443010,2024-02-26 12:34:26,NBPDCL,5001294876,LNTLT0094537,LT0116410,2024-03-05,Imported&&Installed,2405:0203:0529:64C1:0000:0000:0000:0010

In [ ]:
INFRA_NB_COMM_DATA[INFRA_NB_COMM_DATA['SERIALNUMBER_NB']=='LT0101596']

,INSTALLATIONDATETIME_NB,UTILITY_NB,UTILITYSITEID_NB,UTILITYDEVICEID_NB,SERIALNUMBER_NB,LASTS05_NB,STATENAME_NB,IP_NB
451596,2024-02-23 12:37:37,NBPDCL,5001249384,LNTLT0094537,LT0101596,2024-03-05,Imported&&Installed,2405:0203:0521:98F2:0000:0000:0000:0010

In [ ]:
INFRA_NB_COMM_DATA[INFRA_NB_COMM_DATA['SERIALNUMBER_NB']=='LT0094537']

,INSTALLATIONDATETIME_NB,UTILITY_NB,UTILITYSITEID_NB,UTILITYDEVICEID_NB,SERIALNUMBER_NB,LASTS05_NB,STATENAME_NB,IP_NB
451654,2024-02-24 15:23:36,NBPDCL,5003714679,LNTLT0094537,LT0094537,2024-03-05,Imported&&Installed,2405:0203:0521:7D87:0000:0000:0000:0010

# SB

In [ ]:
INFRA_SB_COMM_DATA[INFRA_SB_COMM_DATA['SERIALNUMBER_SB']=='LT0850321']

,INSTALLATIONDATETIME_SB,UTILITY_SB,UTILITYSITEID_SB,UTILITYDEVICEID_SB,SERIALNUMBER_SB,LASTS05_SB,STATENAME_SB,IP_SB
137422,2024-02-27 15:14:42,SBPDCL,5003252945,LNTLT0094537,LT0850321,2024-03-05,Imported&&Installed,2405:0203:052D:E579:0000:0000:0000:0010

In [ ]:
INFRA_SB_COMM_DATA[INFRA_SB_COMM_DATA['SERIALNUMBER_SB']=='LT0623471']

,INSTALLATIONDATETIME_SB,UTILITY_SB,UTILITYSITEID_SB,UTILITYDEVICEID_SB,SERIALNUMBER_SB,LASTS05_SB,STATENAME_SB,IP_SB
253657,2024-02-26 12:33:38,SBPDCL,5000788042,LNTLT0094537,LT0623471,2024-03-05,Imported&&Installed,2405:0203:052A:16B8:0000:0000:0000:0010

In [ ]:
# 537 meter no in sb

In [ ]:
INFRA_SB_COMM_DATA[INFRA_SB_COMM_DATA['UTILITYDEVICEID_SB']=='LNTLT0094537']

,INSTALLATIONDATETIME_SB,UTILITY_SB,UTILITYSITEID_SB,UTILITYDEVICEID_SB,SERIALNUMBER_SB,LASTS05_SB,STATENAME_SB,IP_SB
137422,2024-02-27 15:14:42,SBPDCL,5003252945,LNTLT0094537,LT0850321,2024-03-05,Imported&&Installed,2405:0203:052D:E579:0000:0000:0000:0010
253657,2024-02-26 12:33:38,SBPDCL,5000788042,LNTLT0094537,LT0623471,2024-03-05,Imported&&Installed,2405:0203:052A:16B8:0000:0000:0000:0010

In [ ]:
'fd00:0000:0800:C478:0000:0000:0000:0001',
'fd00:0000:0800:C478:0000:0000:0000:0001',
'fd00:0000:0800:BA01:0000:0000:0000:0001',
'fd00:0000:0800:BA01:0000:0000:0000:0001',
'fd00:0000:0800:7B07:0000:0000:0000:0001',
'fd00:0000:0800:7B07:0000:0000:0000:0001',
'fd00:0000:0800:7A9A:0000:0000:0000:0001',
'fd00:0000:0800:7A9A:0000:0000:0000:0001',
'fd00:0000:0800:6B0E:0000:0000:0000:0001',
'fd00:0000:0800:6B0E:0000:0000:0000:0001',
'fd00:0000:0800:6AD5:0000:0000:0000:0001',
'fd00:0000:0800:6AD5:0000:0000:0000:0001',
'fd00:0000:0800:6ACD:0000:0000:0000:0001',
'fd00:0000:0800:6ACD:0000:0000:0000:0001',
'fd00:0000:0800:69B1:0000:0000:0000:0001',
'fd00:0000:0800:69B1:0000:0000:0000:0001',
'fd00:0000:0800:67D7:0000:0000:0000:0001',
'fd00:0000:0800:67D7:0000:0000:0000:0001',
'fd00:0000:0800:67C2:0000:0000:0000:0001',
'fd00:0000:0800:67C2:0000:0000:0000:0001',
'fd00:0000:0800:6745:0000:0000:0000:0001',
'fd00:0000:0800:6745:0000:0000:0000:0001',
'fd00:0000:0800:6521:0000:0000:0000:0001',
'fd00:0000:0800:6521:0000:0000:0000:0001',
'fd00:0000:0800:62EF:0000:0000:0000:0001',
'fd00:0000:0800:62EF:0000:0000:0000:0001',
'fd00:0000:0800:5C65:0000:0000:0000:0001',
'fd00:0000:0800:5C65:0000:0000:0000:0001',
'fd00:0000:0800:5BC3:0000:0000:0000:0001',
'fd00:0000:0800:5BC3:0000:0000:0000:0001',
'fd00:0000:0800:5B2D:0000:0000:0000:0001',
'fd00:0000:0800:5B2D:0000:0000:0000:0001',
'fd00:0000:0800:5B19:0000:0000:0000:0001',
'fd00:0000:0800:5B19:0000:0000:0000:0001',
'fd00:0000:0800:5A82:0000:0000:0000:0001',
'fd00:0000:0800:5A82:0000:0000:0000:0001',
'fd00:0000:0800:58F7:0000:0000:0000:0001',
'fd00:0000:0800:58F7:0000:0000:0000:0001',
'fd00:0000:0800:47A6:0000:0000:0000:0001',
'fd00:0000:0800:47A6:0000:0000:0000:0001',
'fd00:0000:0800:1FF3:0000:0000:0000:0001',
'fd00:0000:0800:1FF3:0000:0000:0000:0001',
'fd00:0000:0800:D8E:0000:0000:0000:0001',
'fd00:0000:0800:BA7D:0000:0000:0000:0001',
'fd00:0000:0800:BA78:0000:0000:0000:0001',
'fd00:0000:0800:BA6E:0000:0000:0000:0001',
'fd00:0000:0800:B9E0:0000:0000:0000:0001',
'fd00:0000:0800:B9D4:0000:0000:0000:0001',
'fd00:0000:0800:B9D1:0000:0000:0000:0001',
'fd00:0000:0800:B9B5:0000:0000:0000:0001',
'fd00:0000:0800:651C:0000:0000:0000:0001',
'fd00:0000:0800:648C:0000:0000:0000:0001',
'fd00:0000:0800:63C4:0000:0000:0000:0001',
'fd00:0000:0800:6327:0000:0000:0000:0001',
'fd00:0000:0800:5F7D:0000:0000:0000:0001',
'fd00:0000:0800:5D2F:0000:0000:0000:0001',
'fd00:0000:0800:5BBC:0000:0000:0000:0001',
'fd00:0000:0800:1AB3:0000:0000:0000:0001'

In [ ]:
list_IP = ['fd00:0000:0800:C478:0000:0000:0000:0001',
'fd00:0000:0800:C478:0000:0000:0000:0001',
'fd00:0000:0800:BA01:0000:0000:0000:0001',
'fd00:0000:0800:BA01:0000:0000:0000:0001',
'fd00:0000:0800:7B07:0000:0000:0000:0001',
'fd00:0000:0800:7B07:0000:0000:0000:0001',
'fd00:0000:0800:7A9A:0000:0000:0000:0001',
'fd00:0000:0800:7A9A:0000:0000:0000:0001',
'fd00:0000:0800:6B0E:0000:0000:0000:0001',
'fd00:0000:0800:6B0E:0000:0000:0000:0001',
'fd00:0000:0800:6AD5:0000:0000:0000:0001',
'fd00:0000:0800:6AD5:0000:0000:0000:0001',
'fd00:0000:0800:6ACD:0000:0000:0000:0001',
'fd00:0000:0800:6ACD:0000:0000:0000:0001',
'fd00:0000:0800:69B1:0000:0000:0000:0001',
'fd00:0000:0800:69B1:0000:0000:0000:0001',
'fd00:0000:0800:67D7:0000:0000:0000:0001',
'fd00:0000:0800:67D7:0000:0000:0000:0001',
'fd00:0000:0800:67C2:0000:0000:0000:0001',
'fd00:0000:0800:67C2:0000:0000:0000:0001',
'fd00:0000:0800:6745:0000:0000:0000:0001',
'fd00:0000:0800:6745:0000:0000:0000:0001',
'fd00:0000:0800:6521:0000:0000:0000:0001',
'fd00:0000:0800:6521:0000:0000:0000:0001',
'fd00:0000:0800:62EF:0000:0000:0000:0001',
'fd00:0000:0800:62EF:0000:0000:0000:0001',
'fd00:0000:0800:5C65:0000:0000:0000:0001',
'fd00:0000:0800:5C65:0000:0000:0000:0001',
'fd00:0000:0800:5BC3:0000:0000:0000:0001',
'fd00:0000:0800:5BC3:0000:0000:0000:0001',
'fd00:0000:0800:5B2D:0000:0000:0000:0001',
'fd00:0000:0800:5B2D:0000:0000:0000:0001',
'fd00:0000:0800:5B19:0000:0000:0000:0001',
'fd00:0000:0800:5B19:0000:0000:0000:0001',
'fd00:0000:0800:5A82:0000:0000:0000:0001',
'fd00:0000:0800:5A82:0000:0000:0000:0001',
'fd00:0000:0800:58F7:0000:0000:0000:0001',
'fd00:0000:0800:58F7:0000:0000:0000:0001',
'fd00:0000:0800:47A6:0000:0000:0000:0001',
'fd00:0000:0800:47A6:0000:0000:0000:0001',
'fd00:0000:0800:1FF3:0000:0000:0000:0001',
'fd00:0000:0800:1FF3:0000:0000:0000:0001',
'fd00:0000:0800:D8E:0000:0000:0000:0001',
'fd00:0000:0800:BA7D:0000:0000:0000:0001',
'fd00:0000:0800:BA78:0000:0000:0000:0001',
'fd00:0000:0800:BA6E:0000:0000:0000:0001',
'fd00:0000:0800:B9E0:0000:0000:0000:0001',
'fd00:0000:0800:B9D4:0000:0000:0000:0001',
'fd00:0000:0800:B9D1:0000:0000:0000:0001',
'fd00:0000:0800:B9B5:0000:0000:0000:0001',
'fd00:0000:0800:651C:0000:0000:0000:0001',
'fd00:0000:0800:648C:0000:0000:0000:0001',
'fd00:0000:0800:63C4:0000:0000:0000:0001',
'fd00:0000:0800:6327:0000:0000:0000:0001',
'fd00:0000:0800:5F7D:0000:0000:0000:0001',
'fd00:0000:0800:5D2F:0000:0000:0000:0001',
'fd00:0000:0800:5BBC:0000:0000:0000:0001',
'fd00:0000:0800:1AB3:0000:0000:0000:0001'
]

In [ ]:
for i in list_IP:
    if i == INFRA_SB_COMM_DATA['IP_SB']
    print("found")

fd00:0000:0800:C478:0000:0000:0000:0001
fd00:0000:0800:C478:0000:0000:0000:0001
fd00:0000:0800:BA01:0000:0000:0000:0001
fd00:0000:0800:BA01:0000:0000:0000:0001
fd00:0000:0800:7B07:0000:0000:0000:0001
fd00:0000:0800:7B07:0000:0000:0000:0001
fd00:0000:0800:7A9A:0000:0000:0000:0001
fd00:0000:0800:7A9A:0000:0000:0000:0001
fd00:0000:0800:6B0E:0000:0000:0000:0001
fd00:0000:0800:6B0E:0000:0000:0000:0001
fd00:0000:0800:6AD5:0000:0000:0000:0001
fd00:0000:0800:6AD5:0000:0000:0000:0001
fd00:0000:0800:6ACD:0000:0000:0000:0001
fd00:0000:0800:6ACD:0000:0000:0000:0001
fd00:0000:0800:69B1:0000:0000:0000:0001
fd00:0000:0800:69B1:0000:0000:0000:0001
fd00:0000:0800:67D7:0000:0000:0000:0001
fd00:0000:0800:67D7:0000:0000:0000:0001
fd00:0000:0800:67C2:0000:0000:0000:0001
fd00:0000:0800:67C2:0000:0000:0000:0001
fd00:0000:0800:6745:0000:0000:0000:0001
fd00:0000:0800:6745:0000:0000:0000:0001
fd00:0000:0800:6521:0000:0000:0000:0001
fd00:0000:0800:6521:0000:0000:0000:0001
fd00:0000:0800:62EF:0000:0000:0000:0001
fd00:0000:0800:62EF:0000:0000:0000:0001
fd00:0000:0800:5C65:0000:0000:0000:0001
fd00:0000:0800:5C65:0000:0000:0000:0001
fd00:0000:0800:5BC3:0000:0000:0000:0001
fd00:0000:0800:5BC3:0000:0000:0000:0001
fd00:0000:0800:5B2D:0000:0000:0000:0001
fd00:0000:0800:5B2D:0000:0000:0000:0001
fd00:0000:0800:5B19:0000:0000:0000:0001
fd00:0000:0800:5B19:0000:0000:0000:0001
fd00:0000:0800:5A82:0000:0000:0000:0001
fd00:0000:0800:5A82:0000:0000:0000:0001
fd00:0000:0800:58F7:0000:0000:0000:0001
fd00:0000:0800:58F7:0000:0000:0000:0001
fd00:0000:0800:47A6:0000:0000:0000:0001
fd00:0000:0800:47A6:0000:0000:0000:0001
fd00:0000:0800:1FF3:0000:0000:0000:0001
fd00:0000:0800:1FF3:0000:0000:0000:0001
fd00:0000:0800:D8E:0000:0000:0000:0001
fd00:0000:0800:BA7D:0000:0000:0000:0001
fd00:0000:0800:BA78:0000:0000:0000:0001
fd00:0000:0800:BA6E:0000:0000:0000:0001
fd00:0000:0800:B9E0:0000:0000:0000:0001
fd00:0000:0800:B9D4:0000:0000:0000:0001
fd00:0000:0800:B9D1:0000:0000:0000:0001
fd00:0000:0800:B9B5:0000:0000:0000:0001
fd00:0000:0800:651C:0000:0000:0000:0001
fd00:0000:0800:648C:0000:0000:0000:0001
fd00:0000:0800:63C4:0000:0000:0000:0001
fd00:0000:0800:6327:0000:0000:0000:0001
fd00:0000:0800:5F7D:0000:0000:0000:0001
fd00:0000:0800:5D2F:0000:0000:0000:0001
fd00:0000:0800:5BBC:0000:0000:0000:0001
fd00:0000:0800:1AB3:0000:0000:0000:0001

In [ ]:
LNTLT0094537
LNTLT0187098
LNTLT0116410
LNTLT0101596
LNTLT0094537
LNTLT0850321
LNTLT0623471