In [1]:
import pandas as pd
import numpy as np
import os
import sys
from colorama import Fore, Back, Style
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

In [2]:
CurrentActiveMeters_MDMS=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\CurrentActiveMeters_MDMS.csv",encoding='latin-1')

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\3809296113.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  CurrentActiveMeters_MDMS=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\CurrentActiveMeters_MDMS.csv",encoding='latin-1')

In [3]:
CurrentActiveMeters_MDMS.shape

(1564651, 7)

In [4]:
Mdm_unique_meter_installation_no=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\CORRECT DATA\data_duplicate_mdm.csv")
Mdm_unique_meter_installation_no.head()



# remove column from dataframe

Mdm_unique_meter_installation_no.drop(columns=['Unnamed: 0','Unnamed: 3','Unnamed: 12','Unnamed: 13','Unnamed: 14'],axis=1,inplace=True)

In [5]:
# ASSEST

ASSEST_SB =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\ASSET_INITIATION_INVENTORY_SB.csv")
ASSEST_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\ASSET_INITIATION_INVENTORY_NB.csv")

# INFRA

INFRA_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\Infrastructure_Devices_SB.csv",sep=';')
INFRA_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\Infrastructure_Devices_NB.csv",sep=';')

# STATUS

METER_STATUS_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_NB.csv")
METER_STATUS_SB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_SB.csv")


# WFM DATA

WFM_DATA_2 = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\WFM_DATA_2_NO.csv")
WFM_DATA_1 = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\WFM_DATA_1_NO.csv")


# WFM DATA NB AND SB

WFM_SB_DATA = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\check data wfm\meter_sbpd.csv")
WFM_NB_DATA = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\check data wfm\meter_nbpd.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1259013449.py:19: DtypeWarning: Columns (4,8,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  WFM_DATA_2 = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\WFM_DATA_2_NO.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1259013449.py:20: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  WFM_DATA_1 = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\WFM_DATA_1_NO.csv")

In [6]:
INFRA_SB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)
INFRA_NB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)



#  imorted and installed data

INFRA_SB=INFRA_SB[INFRA_SB['StateName']=='Imported&&Installed']
INFRA_NB=INFRA_NB[INFRA_NB['StateName']=='Imported&&Installed']

In [7]:
print(f"Infra sb size :  {INFRA_SB.shape}")

print(f"Infra nb size :  {INFRA_NB.shape}")

Infra sb size :  (860447, 13)
Infra nb size :  (665882, 13)

In [8]:
INFRA_SB['InstallationDatetime'] = pd.to_datetime(INFRA_SB['InstallationDatetime'])
INFRA_SB['EntryDatetime'] = pd.to_datetime(INFRA_SB['EntryDatetime'])
INFRA_SB['LastS05'] = pd.to_datetime(INFRA_SB['LastS05'])
INFRA_SB['LastS02'] = pd.to_datetime(INFRA_SB['LastS02'])
INFRA_SB['LastS04'] = pd.to_datetime(INFRA_SB['LastS04'])


#--------------------------------------------------------------------------------------------------


INFRA_NB['InstallationDatetime'] = pd.to_datetime(INFRA_NB['InstallationDatetime'])
INFRA_NB['EntryDatetime'] = pd.to_datetime(INFRA_NB['EntryDatetime'])
INFRA_NB['LastS05'] = pd.to_datetime(INFRA_NB['LastS05'])
INFRA_NB['LastS02'] = pd.to_datetime(INFRA_NB['LastS02'])
INFRA_NB['LastS04'] = pd.to_datetime(INFRA_NB['LastS04'])

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['InstallationDatetime'] = pd.to_datetime(INFRA_SB['InstallationDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['EntryDatetime'] = pd.to_datetime(INFRA_SB['EntryDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['LastS05'] = pd.to_datetime(INFRA_SB['LastS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['LastS02'] = pd.to_datetime(INFRA_SB['LastS02'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['LastS04'] = pd.to_datetime(INFRA_SB['LastS04'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['InstallationDatetime'] = pd.to_datetime(INFRA_NB['InstallationDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['EntryDatetime'] = pd.to_datetime(INFRA_NB['EntryDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['LastS05'] = pd.to_datetime(INFRA_NB['LastS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['LastS02'] = pd.to_datetime(INFRA_NB['LastS02'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\1888023471.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['LastS04'] = pd.to_datetime(INFRA_NB['LastS04'])

In [9]:
INFRA_NB.drop(columns=['EntryDatetime','LastS02','LastS04','CoordinateX','CoordinateY'],axis=1,inplace=True)
INFRA_SB.drop(columns=['EntryDatetime','LastS02','LastS04','CoordinateX','CoordinateY'],axis=1,inplace=True)

In [10]:
INFRA_NB = INFRA_NB.astype(str)
INFRA_NB.columns = INFRA_NB.columns.str.upper()
INFRA_NB = INFRA_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_NB.columns = INFRA_NB.columns.str.strip()



INFRA_SB = INFRA_SB.astype(str)
INFRA_SB.columns = INFRA_SB.columns.str.upper()
INFRA_SB = INFRA_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_SB.columns = INFRA_SB.columns.str.strip()
#-------------------------------------------------------------------------------------------

ASSEST_SB = ASSEST_SB.astype(str)
ASSEST_SB.columns = ASSEST_SB.columns.str.upper()
ASSEST_SB = ASSEST_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSEST_SB.columns = ASSEST_SB.columns.str.strip()



ASSEST_NB = ASSEST_NB.astype(str)
ASSEST_NB.columns = ASSEST_NB.columns.str.upper()
ASSEST_NB = ASSEST_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSEST_NB.columns = ASSEST_NB.columns.str.strip()
#-------------------------------------------------------------------------------------------



METER_STATUS_NB = METER_STATUS_NB.astype(str)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.upper()
METER_STATUS_NB = METER_STATUS_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.strip()



METER_STATUS_SB = METER_STATUS_SB.astype(str)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.upper()
METER_STATUS_SB = METER_STATUS_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.strip()
#-------------------------------------------------------------------------------------------

In [11]:
# concat data

ASSET_CONCAT_SB_NB = pd.concat([ASSEST_SB, ASSEST_NB], ignore_index=True)
INFRA_CONCAT_SB_NB =  pd.concat([INFRA_SB,INFRA_NB],ignore_index=True)
METER_STATUS_SB_NB =  pd.concat([METER_STATUS_SB,METER_STATUS_NB],ignore_index=True)

# working on wfm data

In [30]:
WFM_SB_DATA.head(1)

,batch_invoice_no,batch_invoice_date,batch_waybill_no,batch_waybill_date,device_id,meter_created_at,phase_type,sim_no,imei_no,whm_system_utility,last_meter_location,swh_delivery_time,current_meter_status,status,edf_vendor_manager_name,batch_supplier,whm_vendor_manager_name,date_of_dispatch_to_OEM_repair,date_of_receipt_of_meter_WH,date_of_receipt_of_refurbished,refurbished_meter_received_date,faulty_declared_date,s2s_faulty_declared_date,s2s_date_of_receipt_of_meter_WH,s2s_date_of_dispatch_to_OEM_repair,s2s_date_of_receipt_of_refurbished,s2s_refurbished_meter_received_date,reveived_date,vendor_dispatch_date
0,110113567,19-Feb-19,361089173040,19-Feb-19,GP4874796,30/09/2022 09:49:47 AM,1 Phase,sim_8991757111092455519,8.699120e+14,SBPD,Consumer:2.19E+11,NaN,Open in VP warehouse,New Meter,agriculture_vm_biharsarif,Genus 3G,MRT_Nalanda_SB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23-Feb-19,2022-10-31

In [35]:
# checking duplicacy in data 

# SB DATA


WFM_SB_DATA[WFM_SB_DATA.duplicated(subset=['device_id'],keep=False)]


#  data dont have duplicte value

Empty DataFrame
Columns: [batch_invoice_no, batch_invoice_date, batch_waybill_no, batch_waybill_date, device_id, meter_created_at, phase_type, sim_no, imei_no, whm_system_utility, last_meter_location, swh_delivery_time, current_meter_status, status, edf_vendor_manager_name, batch_supplier, whm_vendor_manager_name, date_of_dispatch_to_OEM_repair, date_of_receipt_of_meter_WH, date_of_receipt_of_refurbished, refurbished_meter_received_date, faulty_declared_date, s2s_faulty_declared_date, s2s_date_of_receipt_of_meter_WH, s2s_date_of_dispatch_to_OEM_repair, s2s_date_of_receipt_of_refurbished, s2s_refurbished_meter_received_date, reveived_date, vendor_dispatch_date]
Index: []

In [36]:

# NB DATA

WFM_NB_DATA[WFM_NB_DATA.duplicated(subset=['device_id'],keep=False)]


#  data dont have duplicte value

Empty DataFrame
Columns: [batch_invoice_no, batch_invoice_date, batch_waybill_no, batch_waybill_date, device_id, meter_created_at, phase_type, sim_no, imei_no, whm_system_utility, last_meter_location, swh_delivery_time, current_meter_status, status, edf_vendor_manager_name, batch_supplier, whm_vendor_manager_name, date_of_dispatch_to_OEM_repair, date_of_receipt_of_meter_WH, date_of_receipt_of_refurbished, refurbished_meter_received_date, faulty_declared_date, s2s_faulty_declared_date, s2s_date_of_receipt_of_meter_WH, s2s_date_of_dispatch_to_OEM_repair, s2s_date_of_receipt_of_refurbished, s2s_refurbished_meter_received_date, reveived_date, vendor_dispatch_date]
Index: []

# working on mdm current day data

In [12]:
CurrentActiveMeters_MDMS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564651 entries, 0 to 1564650
Data columns (total 7 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   SDP_MRID                  1564651 non-null  object
 1   METER_MRID                1564651 non-null  object
 2   ACCOUNT_UDC_ID            1561806 non-null  object
 3   MRU                       1564308 non-null  object
 4   INSTALLATION_TIME         1564651 non-null  object
 5   LAST_UPD_TIME             1564651 non-null  object
 6   ACCNT_SDP_REL_START_TIME  1561806 non-null  object
dtypes: object(7)
memory usage: 83.6+ MB

In [13]:
CurrentActiveMeters_MDMS = CurrentActiveMeters_MDMS.astype(str)
CurrentActiveMeters_MDMS.columns = CurrentActiveMeters_MDMS.columns.str.upper()
CurrentActiveMeters_MDMS = CurrentActiveMeters_MDMS.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
CurrentActiveMeters_MDMS.columns = CurrentActiveMeters_MDMS.columns.str.strip()

In [14]:
CurrentActiveMeters_MDMS['check_duplicate']=CurrentActiveMeters_MDMS.duplicated(subset=['METER_MRID']).map({True: 'Duplicated', False: 'Unique'})


#CurrentActiveMeters_MDMS['INSTALLATION_TIME'] = pd.to_datetime(CurrentActiveMeters_MDMS['INSTALLATION_TIME'])
#CurrentActiveMeters_MDMS['EntryDatetime'] = pd.to_datetime(CurrentActiveMeters_MDMS['EntryDatetime'])
#CurrentActiveMeters_MDMS['LastS05'] = pd.to_datetime(CurrentActiveMeters_MDMS['LastS05'])


# DUPLICATE ON THE BASES OF METER

data_duplicate_mdm = CurrentActiveMeters_MDMS[CurrentActiveMeters_MDMS.duplicated(subset=['METER_MRID'],keep=False)].sort_values(by=['METER_MRID'],ascending=True)

#output data

data_duplicate_mdm.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\data_duplicate_mdm.csv")

### Working on meter and installation duplication  : correction data

In [15]:
Mdm_unique_meter_installation_no.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,check_duplicate,WFM install no.,Utility
0,5003857748,GOEGL8573393,108562137.0,BCBASMAA,26-MAY-23 06.19.57.000000000 PM,03-12-2024 12:30,10-DEC-22 12.00.00.000000000 AM,Duplicated,5003857748,SBPD

In [16]:
Unique_meter_installation_no_Data = Mdm_unique_meter_installation_no[Mdm_unique_meter_installation_no['SDP_MRID']==Mdm_unique_meter_installation_no['WFM install no.']]

In [17]:
# removing duplicate data from the CurrentActiveMeters_MDMS on the bases of meter

CurrentActiveMeters_MDMS.drop_duplicates(subset=['METER_MRID'],keep=False,inplace=True)

In [18]:
Unique_meter_installation_no_Data.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,check_duplicate,WFM install no.,Utility
0,5003857748,GOEGL8573393,108562137.0,BCBASMAA,26-MAY-23 06.19.57.000000000 PM,03-12-2024 12:30,10-DEC-22 12.00.00.000000000 AM,Duplicated,5003857748,SBPD

In [19]:
# drop column  wfm installno.  and utility


Unique_meter_installation_no_Data.drop(columns=['WFM install no.','Utility'],axis=1,inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_3608\2417933432.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Unique_meter_installation_no_Data.drop(columns=['WFM install no.','Utility'],axis=1,inplace=True)

In [20]:
CurrentActiveMeters_MDMS.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,check_duplicate
0,ARWARL6108,GOEGP4969049,23230011234,IP_ARW_SIPAH1A,07-SEP-19 12.00.00.000000000 AM,12-MAR-2024 12:30:31,07-SEP-19 12.00.00.000000000 AM,Unique

In [21]:
Unique_meter_installation_no_Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, 0 to 203
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SDP_MRID                  102 non-null    object
 1   METER_MRID                102 non-null    object
 2   ACCOUNT_UDC_ID            97 non-null     float64
 3   MRU                       102 non-null    object
 4   INSTALLATION_TIME         102 non-null    object
 5   LAST_UPD_TIME             102 non-null    object
 6   ACCNT_SDP_REL_START_TIME  97 non-null     object
 7   check_duplicate           102 non-null    object
dtypes: float64(1), object(7)
memory usage: 7.2+ KB

In [22]:
Unique_meter_installation_no_Data = Unique_meter_installation_no_Data.astype(str)
Unique_meter_installation_no_Data.columns = Unique_meter_installation_no_Data.columns.str.upper()
Unique_meter_installation_no_Data = Unique_meter_installation_no_Data.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
Unique_meter_installation_no_Data.columns = Unique_meter_installation_no_Data.columns.str.strip()

In [23]:
# drop a column

CurrentActiveMeters_MDMS.drop(columns=['check_duplicate'],inplace=True)

Unique_meter_installation_no_Data.drop(columns=['CHECK_DUPLICATE'],inplace=True)

In [24]:
Unique_meter_installation_no_Data.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME
0,5003857748,GOEGL8573393,108562137.0,BCBASMAA,26-MAY-23 06.19.57.000000000 PM,03-12-2024 12:30,10-DEC-22 12.00.00.000000000 AM

In [25]:
# concat 2 dataframe

MDM_FINAL_UNIQUE_DATA = pd.concat([CurrentActiveMeters_MDMS,Unique_meter_installation_no_Data],ignore_index=True)

In [48]:
MDM_FINAL_UNIQUE_DATA.shape

(1564549, 7)

In [43]:
WFM_SB_DATA.head(1)

,batch_invoice_no,batch_invoice_date,batch_waybill_no,batch_waybill_date,device_id,meter_created_at,phase_type,sim_no,imei_no,whm_system_utility,last_meter_location,swh_delivery_time,current_meter_status,status,edf_vendor_manager_name,batch_supplier,whm_vendor_manager_name,date_of_dispatch_to_OEM_repair,date_of_receipt_of_meter_WH,date_of_receipt_of_refurbished,refurbished_meter_received_date,faulty_declared_date,s2s_faulty_declared_date,s2s_date_of_receipt_of_meter_WH,s2s_date_of_dispatch_to_OEM_repair,s2s_date_of_receipt_of_refurbished,s2s_refurbished_meter_received_date,reveived_date,vendor_dispatch_date,NEW_METER_NUMBER
0,110113567,19-Feb-19,361089173040,19-Feb-19,GP4874796,30/09/2022 09:49:47 AM,1 Phase,sim_8991757111092455519,8.699120e+14,SBPD,Consumer:2.19E+11,NaN,Open in VP warehouse,New Meter,agriculture_vm_biharsarif,Genus 3G,MRT_Nalanda_SB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23-Feb-19,2022-10-31,GOEGP4874796

# whm data

In [38]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
WFM_SB_DATA['NEW_METER_NUMBER'] = WFM_SB_DATA['device_id'].apply(update_meter_number)

In [39]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
WFM_NB_DATA['NEW_METER_NUMBER'] = WFM_NB_DATA['device_id'].apply(update_meter_number)

In [46]:
#WFM_SB_DATA.head(1)

WFM_SB_NB_DATA=pd.concat([WFM_SB_DATA,WFM_NB_DATA],ignore_index=True)

In [55]:

WFM_SB_NB_DATA.shape

(1718909, 30)

In [49]:
MDM_FINAL_UNIQUE_DATA_WITH_UTILITY = pd.merge(MDM_FINAL_UNIQUE_DATA,WFM_SB_NB_DATA[['NEW_METER_NUMBER','whm_system_utility']],left_on=['METER_MRID'],right_on=['NEW_METER_NUMBER'],how='left')

In [50]:
MDM_FINAL_UNIQUE_DATA_WITH_UTILITY.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,NEW_METER_NUMBER,whm_system_utility
0,ARWARL6108,GOEGP4969049,23230011234,IP_ARW_SIPAH1A,07-SEP-19 12.00.00.000000000 AM,12-MAR-2024 12:30:31,07-SEP-19 12.00.00.000000000 AM,GOEGP4969049,SBPD

In [52]:
MDM_FINAL_UNIQUE_DATA_WITH_UTILITY.drop(columns=['NEW_METER_NUMBER'],axis=1 ,inplace=True)

In [53]:
MDM_FINAL_UNIQUE_DATA_WITH_UTILITY.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,whm_system_utility
0,ARWARL6108,GOEGP4969049,23230011234,IP_ARW_SIPAH1A,07-SEP-19 12.00.00.000000000 AM,12-MAR-2024 12:30:31,07-SEP-19 12.00.00.000000000 AM,SBPD

In [54]:
MDM_FINAL_UNIQUE_DATA_WITH_UTILITY[MDM_FINAL_UNIQUE_DATA_WITH_UTILITY['whm_system_utility'].isnull()]

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,whm_system_utility
178,5000265502,LNTLT0179649,400118176,ECCASMAZ,25-JAN-24 12.00.00.000000000 AM,12-MAR-2024 12:30:31,25-JAN-24 12.00.00.000000000 AM,NaN
1185,BRUBR-8176,LNTLT0565773,1161043806,BAKHTAR ASTHAN,10-OCT-23 12.56.51.000000000 PM,12-MAR-2024 12:30:31,19-AUG-20 12.00.00.000000000 AM,NaN
1237,5003979370,LNTLT1032333,108726841,AAFASMA1,08-NOV-23 12.00.00.000000000 AM,12-MAR-2024 12:30:31,12-NOV-23 12.00.00.000000000 AM,NaN
2701,5003399521,GOEGP7481404,401860251,FBDASMAA,13-SEP-21 12.00.00.000000000 AM,12-MAR-2024 12:30:31,18-SEP-21 12.00.00.000000000 AM,NaN
2751,5001566090,GOEGP7608872,101276487,ABDBSMF1,11-JAN-24 12.00.00.000000000 AM,12-MAR-2024 12:30:31,11-JAN-24 12.00.00.000000000 AM,NaN
...,...,...,...,...,...,...,...,...
1564544,5001365060,LNTLT0964748,100599582.0,AAFBSMO8,02-DEC-22 12.00.00.000000000 AM,03-12-2024 12:30,02-DEC-22 12.00.00.000000000 AM,NaN
1564545,5000487702,LNTLT0967022,400266369.0,FAAASMKM,17-DEC-22 12.00.00.000000000 AM,03-12-2024 12:30,17-DEC-22 12.00.00.000000000 AM,NaN
1564546,5003994497,LNTLT0979160,nan,0,20-JAN-24 12.00.00.000000000 AM,03-12-2024 12:30,nan,NaN
1564547,5000757778,LNTLT0986686,100350738.0,BCBCSMDW,01-MAR-23 12.00.00.000000000 AM,03-12-2024 12:30,29-JUN-23 12.00.00.000000000 AM,NaN
1564548,5003862634,LNTLT1017485,108440656.0,ABBASMA1,13-DEC-22 01.21.19.000000000 PM,03-12-2024 12:30,29-MAR-22 12.00.00.000000000 AM,NaN

In [60]:
WFM_SB_NB_DATA[WFM_SB_NB_DATA['device_id']=='LT1017485']

Empty DataFrame
Columns: [batch_invoice_no, batch_invoice_date, batch_waybill_no, batch_waybill_date, device_id, meter_created_at, phase_type, sim_no, imei_no, whm_system_utility, last_meter_location, swh_delivery_time, current_meter_status, status, edf_vendor_manager_name, batch_supplier, whm_vendor_manager_name, date_of_dispatch_to_OEM_repair, date_of_receipt_of_meter_WH, date_of_receipt_of_refurbished, refurbished_meter_received_date, faulty_declared_date, s2s_faulty_declared_date, s2s_date_of_receipt_of_meter_WH, s2s_date_of_dispatch_to_OEM_repair, s2s_date_of_receipt_of_refurbished, s2s_refurbished_meter_received_date, reveived_date, vendor_dispatch_date, NEW_METER_NUMBER]
Index: []

In [56]:
WFM_SB_NB_DATA.head(1)

,batch_invoice_no,batch_invoice_date,batch_waybill_no,batch_waybill_date,device_id,meter_created_at,phase_type,sim_no,imei_no,whm_system_utility,last_meter_location,swh_delivery_time,current_meter_status,status,edf_vendor_manager_name,batch_supplier,whm_vendor_manager_name,date_of_dispatch_to_OEM_repair,date_of_receipt_of_meter_WH,date_of_receipt_of_refurbished,refurbished_meter_received_date,faulty_declared_date,s2s_faulty_declared_date,s2s_date_of_receipt_of_meter_WH,s2s_date_of_dispatch_to_OEM_repair,s2s_date_of_receipt_of_refurbished,s2s_refurbished_meter_received_date,reveived_date,vendor_dispatch_date,NEW_METER_NUMBER
0,110113567,19-Feb-19,361089173040,19-Feb-19,GP4874796,30/09/2022 09:49:47 AM,1 Phase,sim_8991757111092455519,8.699120e+14,SBPD,Consumer:2.19E+11,NaN,Open in VP warehouse,New Meter,agriculture_vm_biharsarif,Genus 3G,MRT_Nalanda_SB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23-Feb-19,2022-10-31,GOEGP4874796

In [ ]:
error code

# data

In [ ]:
CurrentActiveMeters_MDMS.shape

(1564651, 8)

In [ ]:
merge_Current_active_meter_and_meter_Status=pd.merge(CurrentActiveMeters_MDMS,METER_STATUS_SB_NB[['METERNO','STATUS_CD','UTILITY']], left_on=['METER_MRID'], right_on=['METERNO'],how='left')

mdm_meter_in_both_utility=merge_Current_active_meter_and_meter_Status[merge_Current_active_meter_and_meter_Status.duplicated(subset=['METER_MRID'],keep=False)]

mdm_meter_in_both_utility.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\mdm_meter_in_both_utility.csv")

In [ ]:
merge_Current_active_meter_and_meter_Status.shape

(1564855, 11)

In [ ]:
# remove duplicated data.  remove that data

merge_Current_active_meter_and_meter_Status.drop_duplicates(subset=['METER_MRID'],keep=False,inplace=True)

In [ ]:
1564855 - 1564447

408

### Data insert after correction of utility

In [ ]:
# INSERTING NEW DATA AFTER CHECK IN WFM DATA  :-  THIS IS FOR UTILITY

Meter_Data_in_both_utility_final_Data =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\CORRECT DATA\mdm_meter_in_both_utility.csv")

In [ ]:
Meter_Data_in_both_utility_final_Data.shape

(408, 13)

In [ ]:
Meter_Data_in_both_utility_final_Data.drop(['Unnamed: 0'],axis=1,inplace=True)

Meter_Data_in_both_utility_final_Data['WFM Utility'].replace(to_replace='SBPD',value = 'SBPDCL',inplace=True)
Meter_Data_in_both_utility_final_Data['WFM Utility'].replace(to_replace='NBPD',value = 'NBPDCL',inplace=True)
Meter_Data_in_both_utility_final_Data.drop(['UTILITY'],axis=1,inplace=True)


#-----------------------------------------------------------------------------------------------------------

Meter_Data_in_both_utility_final_Data.rename(
    columns={"WFM Utility": "UTILITY"},
    inplace=True
)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_2272\4069396697.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Meter_Data_in_both_utility_final_Data['WFM Utility'].replace(to_replace='SBPD',value = 'SBPDCL',inplace=True)
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_2272\4069396697.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Meter_Data_in_both_utility_final_Data['WFM Utility'].replace(to_replace='NBPD',value = 'NBPDCL',inplace=True)

In [ ]:
# duplicated data removed from data

Meter_Data_in_both_utility_final_Data.drop_duplicates(subset=['SDP_MRID','METER_MRID'],keep='first',inplace=True)

In [ ]:
MDM_DATA_AFTER_UTILITY_DATA_DONE = pd.concat([merge_Current_active_meter_and_meter_Status,Meter_Data_in_both_utility_final_Data], ignore_index=True)

In [ ]:
MDM_DATA_AFTER_UTILITY_DATA_DONE.shape

(1564651, 11)

In [ ]:
MDM_DATA_AFTER_UTILITY_DATA_DONE[MDM_DATA_AFTER_UTILITY_DATA_DONE['UTILITY']=='NBPDCL'].shape

(682487, 11)

In [ ]:
MDM_DATA_AFTER_UTILITY_DATA_DONE[MDM_DATA_AFTER_UTILITY_DATA_DONE['UTILITY']=='SBPDCL'].shape

(881726, 11)

In [ ]:
MDM_DATA_AFTER_UTILITY_DATA_DONE[MDM_DATA_AFTER_UTILITY_DATA_DONE['UTILITY'].isnull()]

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,check_duplicate,METERNO,STATUS_CD,UTILITY
16636,5000157046,LNTLT0970387,100059274,DBAASMMM,07-DEC-22 12.00.00.000000000 AM,12-MAR-2024 12:30:31,07-DEC-22 12.00.00.000000000 AM,Unique,NaN,NaN,NaN
23088,MOTS1504,GOEGL8723845,1202030393,SBJ-1,01-NOV-23 02.46.56.000000000 PM,12-MAR-2024 12:30:31,18-APR-22 12.00.00.000000000 AM,Unique,NaN,NaN,NaN
43671,5003780041,GOEGL8969971,108416672,BCAASMAA,10-APR-23 07.00.48.000000000 PM,12-MAR-2024 12:30:31,08-OCT-22 12.00.00.000000000 AM,Unique,NaN,NaN,NaN
43719,5003836970,GOEGL9004562,108638976,CACBSMA1,10-MAY-23 12.00.00.000000000 AM,12-MAR-2024 12:30:31,12-MAY-23 12.00.00.000000000 AM,Unique,NaN,NaN,NaN
44701,5003892728,GOEGL8938777,108473616,ABECSMA1,24-MAY-23 01.23.01.000000000 PM,12-MAR-2024 12:30:31,15-JUN-22 12.00.00.000000000 AM,Unique,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1564593,5002723660,LT0740688,101786683.0,AAFASMA1,13-JUL-22 02.05.07.000000000 PM,3/12/2024 12:30,13-JUL-22 12.00.00.000000000 AM,Duplicated,LNTLT0740688,Installed,NaN
1564602,BRUBR-9583,LT1017485,1161065985.0,KALMBAG,18-JAN-24 02.46.04.000000000 PM,3/12/2024 12:30,28-SEP-20 12.00.00.000000000 AM,Duplicated,LNTLT1017485,Installed,NaN
1564604,S4499,LT0919629,123000000000.0,SHWN3,12-JAN-24 12.57.56.000000000 PM,3/12/2024 12:30,02-JAN-23 12.00.00.000000000 AM,Duplicated,LNTLT0919629,Installed,NaN
1564631,5003145170,GL9042911,102381717.0,AACBSM9B,12-JUN-23 02.59.47.000000000 PM,3/12/2024 12:30,05-APR-23 12.00.00.000000000 AM,Duplicated,GOEGL9042911,Installed,NaN
1564636,5003640585,GP7625607,401941326.0,EBCASMAA,22-OCT-21 12.00.00.000000000 AM,3/12/2024 12:30,27-OCT-21 12.00.00.000000000 AM,Duplicated,GOEGP7625607,Installed,NaN

###  DUPLICACY ON METER AND INSTALLATION NO.

In [ ]:
Mdm_unique_meter_installation_no=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\CORRECT DATA\data_duplicate_mdm.csv")
Mdm_unique_meter_installation_no.head()



# remove column from dataframe

Mdm_unique_meter_installation_no.drop(columns=['Unnamed: 0','Unnamed: 3','Unnamed: 12','Unnamed: 13','Unnamed: 14'],axis=1,inplace=True)

,Unnamed: 0,SDP_MRID,METER_MRID,Unnamed: 3,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,check_duplicate,WFM install no.,Utility,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1513950,5003857748,GOEGL8573393,GL8573393,108562137.0,BCBASMAA,26-MAY-23 06.19.57.000000000 PM,03-12-2024 12:30,10-DEC-22 12.00.00.000000000 AM,Duplicated,5003857748,SBPD,NaN,NaN,NaN
1,830694,5004111555,GOEGL8573393,GL8573393,402301725.0,EADASMAA,22-JAN-24 12.00.00.000000000 AM,03-12-2024 12:30,24-JAN-24 12.00.00.000000000 AM,Unique,5003857748,SBPD,NaN,NaN,NaN
2,903737,5003949995,GOEGL8612557,GL8612557,402294217.0,GBECSMAA,25-JAN-24 12.00.00.000000000 AM,03-12-2024 12:30,31-JAN-24 12.00.00.000000000 AM,Duplicated,5002705026,SBPD,NaN,NaN,NaN
3,241809,5002705026,GOEGL8612557,GL8612557,101769071.0,BCABSMLQ,04-AUG-23 12.00.00.000000000 AM,03-12-2024 12:30,04-AUG-23 12.00.00.000000000 AM,Unique,5002705026,SBPD,NaN,NaN,NaN
4,679282,5001670548,GOEGL8889282,GL8889282,101066993.0,CBCASMS1,03-MAR-23 01.23.03.000000000 PM,03-12-2024 12:30,03-MAR-23 12.00.00.000000000 AM,Unique,5001670548,SBPD,NaN,NaN,NaN

In [ ]:
# remove column from dataframe

Mdm_unique_meter_installation_no.drop(columns=['Unnamed: 0','Unnamed: 3','Unnamed: 12','Unnamed: 13','Unnamed: 14'],axis=1,inplace=True)

In [ ]:
Mdm_unique_data_count=Mdm_unique_meter_installation_no[Mdm_unique_meter_installation_no['SDP_MRID']==Mdm_unique_meter_installation_no['WFM install no.']]

In [ ]:
Mdm_unique_data_count['Utility'].replace(to_replace='SBPD',value = 'SBPDCL',inplace=True)
Mdm_unique_data_count['Utility'].replace(to_replace='NBPD',value = 'NBPDCL',inplace=True)

Mdm_unique_data_count.rename(
    columns={"Utility": "UTILITY"},
    inplace=True
)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_2272\666688868.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Mdm_unique_data_count['Utility'].replace(to_replace='SBPD',value = 'SBPDCL',inplace=True)
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_2272\666688868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mdm_unique_data_count['Utility'].replace(to_replace='SBPD',value = 'SBPDCL',inplace=True)
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_2272\666688868.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Mdm_unique_data_count['Utility'].replace(to_replace='NBPD',value = 'NBPDCL',inplace=True)
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_2272\666688868.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mdm_unique_data_count['Utility'].replace(to_replace='NBPD',value = 'NBPDCL',inplace=True)
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_2272\666688868.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mdm_unique_data_count.rename(

In [ ]:
Mdm_unique_data_count.shape

(102, 10)

In [ ]:
Mdm_unique_data_count.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,check_duplicate,WFM install no.,UTILITY
0,5003857748,GOEGL8573393,108562137.0,BCBASMAA,26-MAY-23 06.19.57.000000000 PM,03-12-2024 12:30,10-DEC-22 12.00.00.000000000 AM,Duplicated,5003857748,SBPDCL

In [ ]:
# duplicate data in the main file

duplicate_Data_on_the_meter_bases = MDM_DATA_AFTER_UTILITY_DATA_DONE[MDM_DATA_AFTER_UTILITY_DATA_DONE.duplicated(subset=['METER_MRID'],keep=False)]

In [ ]:
duplicate_Data_on_the_meter_bases.shape

(204, 11)

In [ ]:
duplicate_Data_on_the_meter_bases.shape

(204, 11)

In [ ]:
#lets_check_This_Data=pd.merge(Mdm_unique_data_count[['SDP_MRID','METER_MRID','ACCOUNT_UDC_ID','MRU','INSTALLATION_TIME','LAST_UPD_TIME','ACCNT_SDP_REL_START_TIME','check_duplicate','UTILITY']],duplicate_Data_on_the_meter_bases[['SDP_MRID','METER_MRID','METERNO','STATUS_CD','UTILITY']],left_on=['SDP_MRID','METER_MRID','UTILITY'],right_on=['SDP_MRID','METER_MRID','UTILITY'],how= 'left')

pd.merge(duplicate_Data_on_the_meter_bases,Mdm_unique_data_count,left_on=['SDP_MRID'],right_on=['SDP_MRID'],how='right')

,SDP_MRID,METER_MRID_x,ACCOUNT_UDC_ID_x,MRU_x,INSTALLATION_TIME_x,LAST_UPD_TIME_x,ACCNT_SDP_REL_START_TIME_x,check_duplicate_x,METERNO,STATUS_CD,UTILITY_x,METER_MRID_y,ACCOUNT_UDC_ID_y,MRU_y,INSTALLATION_TIME_y,LAST_UPD_TIME_y,ACCNT_SDP_REL_START_TIME_y,check_duplicate_y,WFM install no.,UTILITY_y
0,5003857748,GL8573393,108562137.0,BCBASMAA,26-MAY-23 06.19.57.000000000 PM,3/12/2024 12:30,10-DEC-22 12.00.00.000000000 AM,Duplicated,GOEGL8573393,Installed,NBPDCL,GOEGL8573393,108562137.0,BCBASMAA,26-MAY-23 06.19.57.000000000 PM,03-12-2024 12:30,10-DEC-22 12.00.00.000000000 AM,Duplicated,5003857748,SBPDCL
1,5002705026,GL8612557,101769071.0,BCABSMLQ,04-AUG-23 12.00.00.000000000 AM,3/12/2024 12:30,04-AUG-23 12.00.00.000000000 AM,Unique,GOEGL8612557,Installed,NBPDCL,GOEGL8612557,101769071.0,BCABSMLQ,04-AUG-23 12.00.00.000000000 AM,03-12-2024 12:30,04-AUG-23 12.00.00.000000000 AM,Unique,5002705026,SBPDCL
2,5001670548,GL8889282,101066993.0,CBCASMS1,03-MAR-23 01.23.03.000000000 PM,3/12/2024 12:30,03-MAR-23 12.00.00.000000000 AM,Unique,GOEGL8889282,Installed,NBPDCL,GOEGL8889282,101066993.0,CBCASMS1,03-MAR-23 01.23.03.000000000 PM,03-12-2024 12:30,03-MAR-23 12.00.00.000000000 AM,Unique,5001670548,SBPDCL
3,5002149744,GL8907786,101150719.0,AAFASMM3,17-APR-23 12.30.26.000000000 PM,3/12/2024 12:30,17-APR-23 12.00.00.000000000 AM,Unique,GOEGL8907786,Installed,NBPDCL,GOEGL8907786,101150719.0,AAFASMM3,17-APR-23 12.30.26.000000000 PM,03-12-2024 12:30,17-APR-23 12.00.00.000000000 AM,Unique,5002149744,SBPDCL
4,5002572356,GL8915219,401584792.0,EADASMPY,17-JAN-24 12.00.00.000000000 AM,3/12/2024 12:30,17-JAN-24 12.00.00.000000000 AM,Duplicated,GOEGL8915219,Installed,NBPDCL,GOEGL8915219,401584792.0,EADASMPY,17-JAN-24 12.00.00.000000000 AM,03-12-2024 12:30,17-JAN-24 12.00.00.000000000 AM,Duplicated,5002572356,NBPDCL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,5001365060,LT0964748,100599582.0,AAFBSMO8,02-DEC-22 12.00.00.000000000 AM,3/12/2024 12:30,02-DEC-22 12.00.00.000000000 AM,Unique,LNTLT0964748,Installed,SBPDCL,LNTLT0964748,100599582.0,AAFBSMO8,02-DEC-22 12.00.00.000000000 AM,03-12-2024 12:30,02-DEC-22 12.00.00.000000000 AM,Unique,5001365060,SBPDCL
98,5000487702,LT0967022,400266369.0,FAAASMKM,17-DEC-22 12.00.00.000000000 AM,3/12/2024 12:30,17-DEC-22 12.00.00.000000000 AM,Unique,LNTLT0967022,Installed,SBPDCL,LNTLT0967022,400266369.0,FAAASMKM,17-DEC-22 12.00.00.000000000 AM,03-12-2024 12:30,17-DEC-22 12.00.00.000000000 AM,Unique,5000487702,NBPDCL
99,5003994497,LT0979160,NaN,0,20-JAN-24 12.00.00.000000000 AM,3/12/2024 12:30,NaN,Unique,LNTLT0979160,Installed,NBPDCL,LNTLT0979160,NaN,0,20-JAN-24 12.00.00.000000000 AM,03-12-2024 12:30,NaN,Unique,5003994497,NBPDCL
100,5000757778,LT0986686,100350738.0,BCBCSMDW,01-MAR-23 12.00.00.000000000 AM,3/12/2024 12:30,29-JUN-23 12.00.00.000000000 AM,Duplicated,LNTLT0986686,Installed,SBPDCL,LNTLT0986686,100350738.0,BCBCSMDW,01-MAR-23 12.00.00.000000000 AM,03-12-2024 12:30,29-JUN-23 12.00.00.000000000 AM,Duplicated,5000757778,SBPDCL
101,5003862634,LT1017485,108440656.0,ABBASMA1,13-DEC-22 01.21.19.000000000 PM,3/12/2024 12:30,29-MAR-22 12.00.00.000000000 AM,Unique,LNTLT1017485,Installed,NaN,LNTLT1017485,108440656.0,ABBASMA1,13-DEC-22 01.21.19.000000000 PM,03-12-2024 12:30,29-MAR-22 12.00.00.000000000 AM,Unique,5003862634,SBPDCL

In [ ]:
lets_check_This_Data.head()

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,check_duplicate,UTILITY,METERNO,STATUS_CD
0,5003857748,GOEGL8573393,108562137.0,BCBASMAA,26-MAY-23 06.19.57.000000000 PM,03-12-2024 12:30,10-DEC-22 12.00.00.000000000 AM,Duplicated,SBPDCL,NaN,NaN
1,5002705026,GOEGL8612557,101769071.0,BCABSMLQ,04-AUG-23 12.00.00.000000000 AM,03-12-2024 12:30,04-AUG-23 12.00.00.000000000 AM,Unique,SBPDCL,NaN,NaN
2,5001670548,GOEGL8889282,101066993.0,CBCASMS1,03-MAR-23 01.23.03.000000000 PM,03-12-2024 12:30,03-MAR-23 12.00.00.000000000 AM,Unique,SBPDCL,NaN,NaN
3,5002149744,GOEGL8907786,101150719.0,AAFASMM3,17-APR-23 12.30.26.000000000 PM,03-12-2024 12:30,17-APR-23 12.00.00.000000000 AM,Unique,SBPDCL,NaN,NaN
4,5002572356,GOEGL8915219,401584792.0,EADASMPY,17-JAN-24 12.00.00.000000000 AM,03-12-2024 12:30,17-JAN-24 12.00.00.000000000 AM,Duplicated,NBPDCL,NaN,NaN

#### meter status

In [62]:
METER_STATUS_SB_NB.shape

(1565321, 9)

In [64]:
METER_STATUS_SB_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,SBPDCL,Installed,N,Y,Y,1/16/2024 6:30:48 PM,5003974167,GOEGP4970537,108639180.0

In [63]:
MDM_FINAL_UNIQUE_DATA.shape

(1564549, 7)

In [65]:
MDM_FINAL_UNIQUE_DATA.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME
0,ARWARL6108,GOEGP4969049,23230011234,IP_ARW_SIPAH1A,07-SEP-19 12.00.00.000000000 AM,12-MAR-2024 12:30:31,07-SEP-19 12.00.00.000000000 AM

In [69]:
METER_FINAL_DATA_WITH_CURRENT_METER_MDM_METER_STATUS_FILE=pd.merge(MDM_FINAL_UNIQUE_DATA,METER_STATUS_SB_NB[['METERNO','INSTALLATIONNO','UTILITY','STATUS_CD']],left_on=['METER_MRID','SDP_MRID'],right_on=['METERNO','INSTALLATIONNO'],how='left')

In [71]:
METER_FINAL_DATA_WITH_CURRENT_METER_MDM_METER_STATUS_FILE[METER_FINAL_DATA_WITH_CURRENT_METER_MDM_METER_STATUS_FILE['UTILITY'].isnull()]

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,METERNO,INSTALLATIONNO,UTILITY,STATUS_CD
16636,5000157046,LNTLT0970387,100059274,DBAASMMM,07-DEC-22 12.00.00.000000000 AM,12-MAR-2024 12:30:31,07-DEC-22 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
23088,MOTS1504,GOEGL8723845,1202030393,SBJ-1,01-NOV-23 02.46.56.000000000 PM,12-MAR-2024 12:30:31,18-APR-22 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
43671,5003780041,GOEGL8969971,108416672,BCAASMAA,10-APR-23 07.00.48.000000000 PM,12-MAR-2024 12:30:31,08-OCT-22 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
43719,5003836970,GOEGL9004562,108638976,CACBSMA1,10-MAY-23 12.00.00.000000000 AM,12-MAR-2024 12:30:31,12-MAY-23 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
44701,5003892728,GOEGL8938777,108473616,ABECSMA1,24-MAY-23 01.23.01.000000000 PM,12-MAR-2024 12:30:31,15-JUN-22 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1552000,BAL/CBL-1664,GOEGL8977535,11730007806,SMART_METER,15-MAR-23 06.42.32.000000000 PM,12-MAR-2024 12:30:31,02-AUG-22 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
1560590,5000741037,GOEGL8948252,400405156,EAEASMTI,08-MAY-23 02.18.06.000000000 PM,12-MAR-2024 12:30:31,13-FEB-23 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
1561102,5002176853,LNTLT0225684,101220096,ABECSMV8,24-JUN-23 12.00.00.000000000 AM,12-MAR-2024 12:30:31,24-JUN-23 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
1561490,5003004181,GOEGL9051004,401584687,EBCASMBA,19-JUL-23 04.42.15.000000000 PM,12-MAR-2024 12:30:31,18-APR-22 12.00.00.000000000 AM,NaN,NaN,NaN,NaN
1561776,52222219164,GOEGL8641651,117308736965,SMART_METER,19-APR-23 11.34.24.000000000 AM,12-MAR-2024 12:30:31,10-FEB-23 12.00.00.000000000 AM,NaN,NaN,NaN,NaN

In [72]:
METER_FINAL_DATA_WITH_CURRENT_METER_MDM_METER_STATUS_FILE.shape

(1564549, 11)

In [73]:
MDM_FINAL_UNIQUE_DATA.shape

(1564549, 7)

In [74]:
METER_STATUS_SB_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,SBPDCL,Installed,N,Y,Y,1/16/2024 6:30:48 PM,5003974167,GOEGP4970537,108639180.0

In [76]:
METER_STATUS_SB_NB[METER_STATUS_SB_NB.duplicated(subset=['METERNO','INSTALLATIONNO'],keep=False)]

Empty DataFrame
Columns: [UTILITY, STATUS_CD, CONNECTED_STATUS, COMMISSIONING, COMMUNICATING, INSERT_TIME, INSTALLATIONNO, METERNO, CONSUMERNO]
Index: []