In [33]:
import pandas as pd
import pandas as pd
import numpy as np
import os
import sys
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)
import openpyxl

In [34]:
INFRA_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\infra file\Infrastructure_Devices SB.csv",sep=';')
INFRA_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\infra file\Infrastructure_Devices NB.csv",sep=';')

In [35]:


#INFRA_SB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\infra file\HES_INFRA_SB_DATA.csv")
#INFRA_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\infra file\HES_INFRA_NB_DATA.csv")

#INFRA_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\infra file\HES_INFRA_SB_DATA.csv")
#INFRA_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\infra file\HES_INFRA_NB_DATA.csv")

In [36]:
INFRA_NB.head(2)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,Unnamed: 13
0,11/7/2023 9:21:01 PM,5/10/2023 6:26:48 PM,NBPDCL,5004001830,LNTLT8066550,LT8066550,9/18/2024 12:00:00 AM,NaN,9/1/2024 12:00:00 AM,86.49338,25.31855,Imported&&Installed,2405:0203:0534:0C31:0000:0000:0000:0010,NaN
1,11/7/2023 9:21:01 PM,8/25/2023 8:42:11 PM,NBPDCL,5004015194,LNTLT8065314,LT8065314,9/18/2024 12:00:00 AM,NaN,9/1/2024 12:00:00 AM,85.18143,25.57919,Imported&&Installed,2405:0203:0535:2884:0000:0000:0000:0010,NaN

In [37]:
INFRA_NB.drop(columns=['Unnamed: 13'],axis=1, inplace= True)
INFRA_SB.drop(columns=['Unnamed: 13'],axis=1, inplace= True)

In [38]:
INFRA_NB = INFRA_NB.astype(str)
INFRA_NB.columns = INFRA_NB.columns.str.upper()
INFRA_NB = INFRA_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_NB.columns = INFRA_NB.columns.str.strip()



INFRA_SB = INFRA_SB.astype(str)
INFRA_SB.columns = INFRA_SB.columns.str.upper()
INFRA_SB = INFRA_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_SB.columns = INFRA_SB.columns.str.strip()
#-------------------------------------------------------------------------------------------

In [39]:
INFRA_NB.columns

Index(['INSTALLATIONDATETIME', 'ENTRYDATETIME', 'UTILITY', 'UTILITYSITEID',
       'UTILITYDEVICEID', 'SERIALNUMBER', 'LASTS05', 'LASTS02', 'LASTS04',
       'COORDINATEX', 'COORDINATEY', 'STATENAME', 'IP'],
      dtype='object')

In [40]:
INFRA_SB['INSTALLATIONDATETIME'] = pd.to_datetime(INFRA_SB['INSTALLATIONDATETIME'])
INFRA_SB['LASTS05'] = pd.to_datetime(INFRA_SB['LASTS05'])
#INFRA_SB['LastS04'] = pd.to_datetime(INFRA_SB['LastS04'])


#--------------------------------------------------------------------------------------------------


INFRA_NB['INSTALLATIONDATETIME'] = pd.to_datetime(INFRA_NB['INSTALLATIONDATETIME'])
INFRA_NB['LASTS05'] = pd.to_datetime(INFRA_NB['LASTS05'])
#INFRA_NB['LastS04'] = pd.to_datetime(INFRA_NB['LastS04'])

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_19528\944210187.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['INSTALLATIONDATETIME'] = pd.to_datetime(INFRA_SB['INSTALLATIONDATETIME'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_19528\944210187.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_SB['LASTS05'] = pd.to_datetime(INFRA_SB['LASTS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_19528\944210187.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['INSTALLATIONDATETIME'] = pd.to_datetime(INFRA_NB['INSTALLATIONDATETIME'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_19528\944210187.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  INFRA_NB['LASTS05'] = pd.to_datetime(INFRA_NB['LASTS05'])

In [41]:
INFRA_NB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743297 entries, 0 to 743296
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   INSTALLATIONDATETIME  743297 non-null  datetime64[ns]
 1   ENTRYDATETIME         743297 non-null  object
 2   UTILITY               743297 non-null  object
 3   UTILITYSITEID         743297 non-null  object
 4   UTILITYDEVICEID       743297 non-null  object
 5   SERIALNUMBER          743297 non-null  object
 6   LASTS05               740412 non-null  datetime64[ns]
 7   LASTS02               743297 non-null  object
 8   LASTS04               743297 non-null  object
 9   COORDINATEX           743297 non-null  object
 10  COORDINATEY           743297 non-null  object
 11  STATENAME             743297 non-null  object
 12  IP                    743297 non-null  object
dtypes: datetime64[ns](2), object(11)
memory usage: 73.7+ MB

In [42]:
INFRA_NB.columns

Index(['INSTALLATIONDATETIME', 'ENTRYDATETIME', 'UTILITY', 'UTILITYSITEID',
       'UTILITYDEVICEID', 'SERIALNUMBER', 'LASTS05', 'LASTS02', 'LASTS04',
       'COORDINATEX', 'COORDINATEY', 'STATENAME', 'IP'],
      dtype='object')

In [43]:
INFRA_NB.head(1)

,INSTALLATIONDATETIME,ENTRYDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,SERIALNUMBER,LASTS05,LASTS02,LASTS04,COORDINATEX,COORDINATEY,STATENAME,IP
0,2023-11-07 21:21:01,5/10/2023 6:26:48 PM,NBPDCL,5004001830,LNTLT8066550,LT8066550,2024-09-18,nan,9/1/2024 12:00:00 AM,86.49338,25.31855,Imported&&Installed,2405:0203:0534:0C31:0000:0000:0000:0010

In [44]:
# rename the column name

INFRA_NB.rename(
    columns = {"INSTALLATIONDATETIME":"INSTALLATIONDATETIME_NB","UTILITY": "UTILITY_NB",
    "DEVICEID":"DEVICEID_NB","LASTS04":"LASTS04_NB",
    "SERIALNUMBER":"SERIALNUMBER_NB","LASTS05":"LASTS05_NB","STATENAME":"STATENAME_NB",
    "IP":"IP_NB"},inplace=True
)



#-----------------------------------------------------------------




INFRA_SB.rename(
    columns = {"INSTALLATIONDATETIME":"INSTALLATIONDATETIME_SB","UTILITY": "UTILITY_SB",
    "DEVICEID":"DEVICEID_NB","LASTS04":"LASTS04_SB",
    "SERIALNUMBER":"SERIALNUMBER_SB","LASTS05":"LASTS05_SB","STATENAME":"STATENAME_SB",
    "IP":"IP_SB"},inplace=True
)

In [49]:
INFRA_SB.shape

(963302, 11)

In [45]:
# Remove cordinatex, cordinatey   from infrasb and infranb file 

INFRA_SB.drop(columns = ['COORDINATEX','COORDINATEY'],axis= 1,inplace= True)
INFRA_NB.drop(columns = ['COORDINATEX','COORDINATEY'],axis= 1,inplace= True)

### Joining diff column from SB and NB data

In [47]:
# join on  meter no

HES_NB_SB_DATA_SERIAL_NO = pd.merge(INFRA_NB, INFRA_SB, left_on=['SERIALNUMBER_NB'], right_on=['SERIALNUMBER_SB'], how='inner')
HES_NB_SB_DATA_SERIAL_NO.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_SERIAL_NO.csv")


# JOIN ON INSTALLATION FILE

HES_NB_SB_DATA_UTILITY = pd.merge(INFRA_NB, INFRA_SB, left_on=['UTILITY_NB'], right_on=['UTILITY_SB'], how='inner')
HES_NB_SB_DATA_UTILITY.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_UTILITY.csv")


# JOIN ON IP DATA

HES_NB_SB_DATA_IP = pd.merge(INFRA_NB, INFRA_SB, left_on=['IP_NB'], right_on=['IP_SB'], how='inner')
HES_NB_SB_DATA_IP=HES_NB_SB_DATA_IP[(HES_NB_SB_DATA_IP['IP_NB']==HES_NB_SB_DATA_IP['IP_SB']) & (HES_NB_SB_DATA_IP['IP_NB']!='nan')  &  (HES_NB_SB_DATA_IP['IP_SB']!='nan') ]
HES_NB_SB_DATA_IP.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_IP.csv")


# JOIN ON METER AND INSTALLATION DATA

HES_NB_SB_DATA_METER_AND_IP = pd.merge(INFRA_NB, INFRA_SB, left_on=['SERIALNUMBER_NB','IP_NB'], right_on=['SERIALNUMBER_SB','IP_SB'], how='inner')
HES_NB_SB_DATA_METER_AND_IP.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_METER_AND_IP.csv")


# work on installation no
HES_NB_SB_DATA_INSTALLATION_NO = pd.merge(INFRA_NB, INFRA_SB, left_on=['UTILITYSITEID'], right_on=['UTILITYSITEID'], how='inner')
HES_NB_SB_DATA_INSTALLATION_NO.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER HES\HES_NB_SB_DATA_INSTALLATION_NO.csv")