In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)



-- HES COMM. DATA 
-- UNIQUE DATA OF HES - NB AND SB

-- SAME WITH MDM

In [2]:
ASSEST_SB =  pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\ASSET_INITIATION_INVENTORY_SB.csv")
ASSEST_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\ASSET_INITIATION_INVENTORY_NB.csv")
INFRA_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\Infrastructure_Devices_SB.csv",sep=';')
INFRA_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\Infrastructure_Devices_NB.csv",sep=';')
METER_STATUS_NB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_NB.csv")
METER_STATUS_SB = pd.read_csv( r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_SB.csv")

In [3]:
#METER_STATUS_NB['CONSUMERNO'] = pd.to_numeric(METER_STATUS_NB['CONSUMERNO'], errors='coerce')
#METER_STATUS_NB['INSTALLATIONNO'] = pd.to_numeric(METER_STATUS_NB['INSTALLATIONNO'], errors='coerce')


#METER_STATUS_SB['CONSUMERNO'] = pd.to_numeric(METER_STATUS_SB['CONSUMERNO'], errors='coerce')
#METER_STATUS_SB['INSTALLATIONNO'] = pd.to_numeric(METER_STATUS_SB['INSTALLATIONNO'], errors='coerce')

In [4]:
METER_STATUS_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,NBPDCL,Installed,Y,Y,Y,8/10/2019 10:06:32 PM,RAMD-2987900004,GOEGP4967851,1.181013e+11

In [5]:
ASSEST_NB = ASSEST_NB.astype(str)
ASSEST_NB.columns = ASSEST_NB.columns.str.upper()
ASSEST_NB = ASSEST_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSEST_NB.columns = ASSEST_NB.columns.str.strip()



ASSEST_SB = ASSEST_SB.astype(str)
ASSEST_SB.columns = ASSEST_SB.columns.str.upper()
ASSEST_SB = ASSEST_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ASSEST_SB.columns = ASSEST_SB.columns.str.strip()
#-------------------------------------------------------------------------------------------

INFRA_SB = INFRA_SB.astype(str)
INFRA_SB.columns = INFRA_SB.columns.str.upper()
INFRA_SB = INFRA_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_SB.columns = INFRA_SB.columns.str.strip()


INFRA_NB = INFRA_NB.astype(str)
INFRA_NB.columns = INFRA_NB.columns.str.upper()
INFRA_NB = INFRA_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
INFRA_NB.columns = INFRA_NB.columns.str.strip()


#-------------------------------------------------------------------------------------------

METER_STATUS_NB = METER_STATUS_NB.astype(str)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.upper()
METER_STATUS_NB = METER_STATUS_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.strip()


METER_STATUS_SB = METER_STATUS_SB.astype(str)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.upper()
METER_STATUS_SB = METER_STATUS_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.strip()

In [6]:
ASSET_CONCAT_SB_NB = pd.concat([ASSEST_SB, ASSEST_NB], ignore_index=True)
INFRA_CONCAT_SB_NB =  pd.concat([INFRA_SB,INFRA_NB],ignore_index=True)
METER_STATUS_SB_NB =  pd.concat([METER_STATUS_SB,METER_STATUS_NB],ignore_index=True)

In [7]:
METER_STATUS_SB_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,SBPDCL,Installed,N,Y,Y,8/29/2019 11:08:09 PM,PHUN-12589,GOEGP4875493,21610030201.0

In [8]:
# split data from .(dot)  and take only before the .(dot)

METER_STATUS_SB_NB['CONSUMERNO'] = METER_STATUS_SB_NB['CONSUMERNO'].str.split('.').str[0]

In [9]:
METER_STATUS_SB_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,SBPDCL,Installed,N,Y,Y,8/29/2019 11:08:09 PM,PHUN-12589,GOEGP4875493,21610030201

In [10]:
# TAKE ONLY Imported&&Installed  METER

INFRA_CONCAT_SB_NB = INFRA_CONCAT_SB_NB[INFRA_CONCAT_SB_NB['STATENAME']== 'Imported&&Installed']


# droppping the unnamed column

INFRA_CONCAT_SB_NB.drop(['UNNAMED: 13'], axis=1, inplace=True)

In [11]:
print(f"INFRA_CONCAT_SB_NB :- {INFRA_CONCAT_SB_NB.shape}")
print(f"ASSET_CONCAT_SB_NB :- {ASSET_CONCAT_SB_NB.shape}")
print(f"METER_STATUS_SB_NB :- {METER_STATUS_SB_NB.shape}")

INFRA_CONCAT_SB_NB :- (1520336, 13)
ASSET_CONCAT_SB_NB :- (1874917, 8)
METER_STATUS_SB_NB :- (1558932, 9)

# duplicate file in STATUS FILE

In [12]:
METER_STATUS_SB_NB.head()

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO
0,SBPDCL,Installed,N,Y,Y,8/29/2019 11:08:09 PM,PHUN-12589,GOEGP4875493,21610030201
1,SBPDCL,Installed,Y,Y,Y,5/25/2022 9:13:49 PM,ARWARL6055,LNTLT0581598,23230011191
2,SBPDCL,Installed,Y,Y,Y,3/30/2022 6:17:23 PM,ARWARL7614,LNTLT0425351,23230014274
3,SBPDCL,Installed,Y,Y,Y,12/13/2021 8:13:08 PM,ARL19278,LNTLT0149502,23230051826
4,SBPDCL,Installed,N,Y,Y,9/6/2019 10:31:49 PM,ARL19519,GOEGP4968562,23230053876

In [13]:
METER_STATUS_SB_NB['UTILITY']= METER_STATUS_SB_NB['UTILITY'].str.upper()
METER_STATUS_SB_NB['METERNO']= METER_STATUS_SB_NB['METERNO'].str.upper()
METER_STATUS_SB_NB['INSTALLATIONNO']= METER_STATUS_SB_NB['INSTALLATIONNO'].str.upper()

#  DUPLICATE DATA
METER_STATUS_SB_NB['Duplicated'] = METER_STATUS_SB_NB.duplicated(subset=['METERNO']).map({True: 'Duplicated', False: 'Unique'})


# STORE DATA IN  METER_STATUS_SB_NB_DUPLICATED_DATA
#METER_STATUS_SB_NB_DUPLICATED_DATA = METER_STATUS_SB_NB[METER_STATUS_SB_NB.duplicated(subset=['METERNO'],keep=False)].sort_values(by = ['METERNO','INSERT_TIME'],ascending=[True,False])


# Sorting the DataFrame by 'METERNO' and 'INSERT_TIME' in descending order of time
METER_STATUS_SB_NB.sort_values(by=['METERNO', 'INSERT_TIME'], ascending=[True, False],inplace=True)

# Dropping duplicated rows based on 'METERNO' while keeping the first occurrence (which has the latest 'INSERT_TIME')
METER_STATUS_SB_NB.drop_duplicates(subset=['METERNO'], keep='first', inplace=True)


# drop duplicated column  in meter  status file
METER_STATUS_SB_NB.drop(['Duplicated'],axis=1, inplace = True)

In [15]:
# METER STATUS SORT BY INSERT_TIME

#METER_STATUS_SB_NB.sort_values(by=['INSERT_TIME'],ascending=False,inplace=True)

#METER_STATUS_SB_NB = METER_STATUS_SB_NB[METER_STATUS_SB_NB.duplicated(subset=['METERNO'],keep=False)].sort_values(by = ['METERNO','CONNECTED_STATUS'],ascending=[True,False])

#METER_STATUS_SB_NB['Duplicated'] = METER_STATUS_SB_NB.duplicated(subset=['METERNO']).map({True: 'Duplicated', False: 'Unique'})

#METER_STATUS_SB_NB.sort_values(by=['METERNO','Duplicated'],ascending=[False,False],inplace=True)

#METER_STATUS_SB_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\check_duplicated_meter_Status_data_installation.csv")


#check_duplicated_meter_Status_data_installation=METER_STATUS_SB_NB[METER_STATUS_SB_NB.duplicated(subset=['INSTALLATIONNO'],keep=False)].sort_values(by=['INSTALLATIONNO','INSERT_TIME'],ascending=[False,False])


#check_duplicated_meter_Status_data_installation['Duplicated'] = check_duplicated_meter_Status_data_installation.duplicated(subset=['INSTALLATIONNO']).map({True: 'Duplicated', False: 'Unique'})
#check_duplicated_meter_Status_data_installation.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\check_duplicated_meter_Status_data_installation.csv")

# extra

In [16]:
#check_Data_meter_Status = METER_STATUS_SB_NB[METER_STATUS_SB_NB.duplicated(subset=['METERNO'],keep=False)].sort_values(by = ['METERNO','CONNECTED_STATUS'],ascending=[True,False])

#check_Data_meter_Status['Duplicated'] = check_Data_meter_Status.duplicated(subset=['METERNO']).map({True: 'Duplicated', False: 'Unique'})

# check_Data_meter_Status.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\check_Data_meter_Status.csv")

In [17]:
#INFRA_CONCAT_SB_NB[INFRA_CONCAT_SB_NB.duplicated(subset=['UTILITYDEVICEID'],keep=False)]

# create a new column with duplicated

In [18]:
INFRA_CONCAT_SB_NB['Duplicated_infra'] = INFRA_CONCAT_SB_NB.duplicated(subset=['UTILITYDEVICEID']).map({True: 'Duplicated', False: 'Unique'})
METER_STATUS_SB_NB['Duplicated_meter'] = METER_STATUS_SB_NB.duplicated(subset=['METERNO']).map({True: 'Duplicated', False: 'Unique'})
ASSET_CONCAT_SB_NB['Duplicated_asset'] = ASSET_CONCAT_SB_NB.duplicated(subset=['METERNUMBER']).map({True: 'Duplicated', False: 'Unique'})

In [19]:
METER_STATUS_SB_NB.sort_values(by='INSERT_TIME',ascending=False,inplace=True)

In [20]:
#INFRA_CONCAT_SB_NB.drop(['Duplicated'], axis=1, inplace=True)
#METER_STATUS_SB_NB.drop(['Duplicated'], axis=1, inplace=True)
#ASSET_CONCAT_SB_NB.drop(['Duplicated'], axis=1, inplace=True)

In [21]:
METER_STATUS_SB_NB.head(1)

,UTILITY,STATUS_CD,CONNECTED_STATUS,COMMISSIONING,COMMUNICATING,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO,Duplicated_meter
1493537,NBPDCL,Installed,Y,Y,Y,9/9/2023 8:12:46 PM,521111549057,GOEGL9028994,101409629643,Unique

In [22]:
ASSET_CONCAT_SB_NB.head(1)

,METERNUMBER,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER,STATUS,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')",Duplicated_asset
0,GOEGP4970294,GP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL,Unique

In [23]:
METER_STATUS_SB_NB.shape

(1558830, 10)

# Merging meter status and asset file

In [24]:
#  merge status and asset file

MERGE_METER_ASSET_STATUS_NB_SB = pd.merge(METER_STATUS_SB_NB[['UTILITY','STATUS_CD','INSERT_TIME','INSTALLATIONNO','METERNO','CONSUMERNO']], ASSET_CONCAT_SB_NB[['METERNUMBER','INSTALLATIONNUMBER','NETWORK_ID']], left_on=['METERNO','INSTALLATIONNO'], right_on=['METERNUMBER','INSTALLATIONNUMBER'], how='left')

In [25]:
MERGE_METER_ASSET_STATUS_NB_SB.shape

(1591640, 9)

In [26]:
MERGE_METER_ASSET_STATUS_NB_SB['Duplicated_status'] = MERGE_METER_ASSET_STATUS_NB_SB.duplicated(subset=['METERNO']).map({True: 'Duplicated', False: 'Unique'})

In [27]:
MERGE_METER_ASSET_STATUS_NB_SB[MERGE_METER_ASSET_STATUS_NB_SB.duplicated(subset=['METERNO'],keep=False)]

,UTILITY,STATUS_CD,INSERT_TIME,INSTALLATIONNO,METERNO,CONSUMERNO,METERNUMBER,INSTALLATIONNUMBER,NETWORK_ID,Duplicated_status
4011,NBPDCL,Installed,9/9/2020 6:17:54 PM,5001871684,GOEGP7471917,400794007,GOEGP7471917,5001871684,fd00:0000:0800:DE1A:0000:0000:0000:0001,Unique
4012,NBPDCL,Installed,9/9/2020 6:17:54 PM,5001871684,GOEGP7471917,400794007,GOEGP7471917,5001871684,2001:4490:0802:BAA9:0000:0000:0000:0001,Duplicated
8192,NBPDCL,Installed,9/8/2020 3:15:06 PM,BAL/CBL-2708,GOEGP7547192,11730015066,GOEGP7547192,BAL/CBL-2708,fd00:0000:0800:DED7:0000:0000:0000:0001,Unique
8193,NBPDCL,Installed,9/8/2020 3:15:06 PM,BAL/CBL-2708,GOEGP7547192,11730015066,GOEGP7547192,BAL/CBL-2708,2001:4490:0801:E442:0000:0000:0000:0001,Duplicated
8228,NBPDCL,Installed,9/8/2020 3:13:10 PM,ROSR-240,GOEGP5084017,11410012746,GOEGP5084017,ROSR-240,fd00:0000:0800:CCCC:0000:0000:0000:0001,Unique
...,...,...,...,...,...,...,...,...,...,...
1591209,SBPDCL,Installed,1/1/2024 12:09:20 PM,5004025883,GOEGP5057160,108745492,GOEGP5057160,5004025883,fd00:0000:0800:DABE:0000:0000:0000:0001,Duplicated
1591211,SBPDCL,Installed,1/1/2024 12:09:17 PM,5003988854,GOEGP5048963,108747511,GOEGP5048963,5003988854,2001:4490:0800:5096:0000:0000:0000:0001,Unique
1591212,SBPDCL,Installed,1/1/2024 12:09:17 PM,5003988854,GOEGP5048963,108747511,GOEGP5048963,5003988854,fd00:0000:0800:D9F0:0000:0000:0000:0001,Duplicated
1591213,SBPDCL,Installed,1/1/2024 12:09:15 PM,5003980282,GOEGP5070872,108747626,GOEGP5070872,5003980282,fd00:0000:0800:D9B2:0000:0000:0000:0001,Unique
1591214,SBPDCL,Installed,1/1/2024 12:09:15 PM,5003980282,GOEGP5070872,108747626,GOEGP5070872,5003980282,2001:4490:0802:9553:0000:0000:0000:0001,Duplicated

In [28]:
MERGE_METER_ASSET_STATUS_NB_SB.rename(
    columns = {"UTILITY":"MDM_UTILITY","STATUS_CD": "MDM_STATUS_CD",
    "INSERT_TIME":"MDM_INSERT_TIME","INSTALLATIONNO":"MDM_INSTALLATIONNO",
    "METERNO":"MDM_METERNO","CONSUMERNO":"MDM_CONSUMERNO","METERNUMBER":"MDM_ASSET_METERNUMBER",
    "INSTALLATIONNUMBER":"MDM_ASSET_INSTALLATIONNUMBER","NETWORK_ID":"MDM_IP","Duplicated_status":"MDM_DUPLICATE"},
    inplace=True
)

In [29]:
MERGE_METER_ASSET_STATUS_NB_SB.shape

(1591640, 10)

In [30]:
MDM_METER_ASSET_STATUS_NB = MERGE_METER_ASSET_STATUS_NB_SB[MERGE_METER_ASSET_STATUS_NB_SB['MDM_UTILITY']=='NBPDCL']
MDM_METER_ASSET_STATUS_SB = MERGE_METER_ASSET_STATUS_NB_SB[MERGE_METER_ASSET_STATUS_NB_SB['MDM_UTILITY']=='SBPDCL']


# shape

print(f"MDM_METER_ASSET_STATUS_NB SHAPE : {MDM_METER_ASSET_STATUS_NB.shape}")
print(f"MDM_METER_ASSET_STATUS_SB SHAPE : {MDM_METER_ASSET_STATUS_SB.shape}")

MDM_METER_ASSET_STATUS_NB SHAPE : (692095, 10)
MDM_METER_ASSET_STATUS_SB SHAPE : (899545, 10)

# working on hes data

In [31]:
INFRA_CONCAT_SB_NB.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1520336 entries, 0 to 1557358
Data columns (total 14 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   INSTALLATIONDATETIME  1520336 non-null  object
 1   ENTRYDATETIME         1520336 non-null  object
 2   UTILITY               1520336 non-null  object
 3   UTILITYSITEID         1520336 non-null  object
 4   UTILITYDEVICEID       1520336 non-null  object
 5   SERIALNUMBER          1520336 non-null  object
 6   LASTS05               1520336 non-null  object
 7   LASTS02               1520336 non-null  object
 8   LASTS04               1520336 non-null  object
 9   COORDINATEX           1520336 non-null  object
 10  COORDINATEY           1520336 non-null  object
 11  STATENAME             1520336 non-null  object
 12  IP                    1520336 non-null  object
 13  Duplicated_infra      1520336 non-null  object
dtypes: object(14)
memory usage: 174.0+ MB

In [32]:
# drop column from the HES INFRA DATA

INFRA_CONCAT_SB_NB.drop(['ENTRYDATETIME','COORDINATEX','COORDINATEY','SERIALNUMBER','LASTS05','LASTS02','LASTS04'],axis=1,inplace =True)

In [33]:
print(f"INFRA_CONCAT_SB_NB SHAPE : {INFRA_CONCAT_SB_NB.shape}")

INFRA_CONCAT_SB_NB SHAPE : (1520336, 7)

In [34]:
INFRA_CONCAT_SB_NB.head(1)

,INSTALLATIONDATETIME,UTILITY,UTILITYSITEID,UTILITYDEVICEID,STATENAME,IP,Duplicated_infra
0,8/18/2023 6:11:30 PM,SBPDCL,5002259607,LNTLT8072561,Imported&&Installed,2405:0203:0535:126E:0000:0000:0000:0010,Unique

In [35]:
INFRA_CONCAT_SB_NB.rename(
    columns = {"INSTALLATIONDATETIME":"HES_INSTALLATIONDATETIME","UTILITY": "HES_UTILITY",
    "UTILITYSITEID":"HES_INSTALLATION_NO","UTILITYDEVICEID":"HES_METER_NO",
    "STATENAME":"HES_STATUS","IP":"HES_IP","Duplicated_infra":"HES_DUPLICATED_INFRA"},
    inplace=True
)

In [36]:
HES_METER_NB =  INFRA_CONCAT_SB_NB[INFRA_CONCAT_SB_NB['HES_UTILITY']=='NBPDCL']
HES_METER_SB =  INFRA_CONCAT_SB_NB[INFRA_CONCAT_SB_NB['HES_UTILITY']=='SBPDCL']


print(f"HES_METER_NB SHAPE : {HES_METER_NB.shape}")
print(f"HES_METER_SB SHAPE : {HES_METER_SB.shape}")

HES_METER_NB SHAPE : (663345, 7)
HES_METER_SB SHAPE : (856991, 7)

# FINAL DATA  HES & MDM

In [37]:

print(f"HES_METER_NB SHAPE : {HES_METER_NB.shape}")
print(f"MDM_METER_SB SHAPE : {HES_METER_SB.shape}")

#-----------------------------------------------------------------------------------------------------

print(f"MDM_METER_ASSET_STATUS_NB SHAPE : {MDM_METER_ASSET_STATUS_NB.shape}")
print(f"MDM_METER_ASSET_STATUS_SB SHAPE : {MDM_METER_ASSET_STATUS_SB.shape}")

HES_METER_NB SHAPE : (663345, 7)
MDM_METER_SB SHAPE : (856991, 7)
MDM_METER_ASSET_STATUS_NB SHAPE : (692095, 10)
MDM_METER_ASSET_STATUS_SB SHAPE : (899545, 10)

In [38]:
HES_METER_NB.head(1)

,HES_INSTALLATIONDATETIME,HES_UTILITY,HES_INSTALLATION_NO,HES_METER_NO,HES_STATUS,HES_IP,HES_DUPLICATED_INFRA
877655,1/3/2024 10:49:59 PM,NBPDCL,5001461671,LNTLT8069351,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,Unique

# MERGE HES AND MDM FILE  UTILITY WISE

In [53]:
# merge infra and asset_status file

MERGE_MDM_NB_HES_NB =pd.merge(MDM_METER_ASSET_STATUS_NB,HES_METER_NB, left_on=['MDM_METERNO'], right_on=['HES_METER_NO'], how='left')
MERGE_MDM_SB_HES_SB =pd.merge(MDM_METER_ASSET_STATUS_SB,HES_METER_SB, left_on=['MDM_METERNO'], right_on=['HES_METER_NO'], how='left')


MERGE_MDM_NB_HES_SB =pd.merge(MDM_METER_ASSET_STATUS_NB,HES_METER_SB, left_on=['MDM_METERNO'], right_on=['HES_METER_NO'], how='left')
MERGE_MDM_SB_HES_NB =pd.merge(MDM_METER_ASSET_STATUS_SB,HES_METER_NB, left_on=['MDM_METERNO'], right_on=['HES_METER_NO'], how='left')

In [57]:
HES_METER_NB.head(1)

,HES_INSTALLATIONDATETIME,HES_UTILITY,HES_INSTALLATION_NO,HES_METER_NO,HES_STATUS,HES_IP,HES_DUPLICATED_INFRA
0,1/3/2024 10:49:59 PM,NBPDCL,5001461671,LNTLT8069351,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,Unique

In [58]:
# HERE MERGE ON THE BASIS OF IP IN HES AND MDM  AND LETS CHECK.  SAME SAME ON 2 DIFF METER


MERGE_MDM_NB_HES_NB_ON_IP =pd.merge(MDM_METER_ASSET_STATUS_NB,HES_METER_NB, left_on=['MDM_IP'], right_on=['HES_IP'], how='left')
MERGE_MDM_SB_HES_SB_ON_IP =pd.merge(MDM_METER_ASSET_STATUS_SB,HES_METER_SB, left_on=['MDM_IP'], right_on=['HES_IP'], how='left')


MERGE_MDM_NB_HES_SB_ON_IP =pd.merge(MDM_METER_ASSET_STATUS_NB,HES_METER_SB, left_on=['MDM_IP'], right_on=['HES_IP'], how='left')
MERGE_MDM_SB_HES_NB_ON_IP =pd.merge(MDM_METER_ASSET_STATUS_SB,HES_METER_NB, left_on=['MDM_IP'], right_on=['HES_IP'], how='left')

# WORKING ON IP

In [55]:
# CASE 1 : - WHERE UTILITY AND METER NO. OF MDM AND HES IS SAME  FOR NB DATA BUT IP IS DIFF

IP_DATA_MDM_NB_HES_NB_METER_SAME_IP_DIFF = MERGE_MDM_NB_HES_NB[(MERGE_MDM_NB_HES_NB['MDM_METERNO']==MERGE_MDM_NB_HES_NB['HES_METER_NO']) 
                                                               & (MERGE_MDM_NB_HES_NB['MDM_IP']!=MERGE_MDM_NB_HES_NB['HES_IP']) 
                                                               & (MERGE_MDM_NB_HES_NB['HES_IP'].notnull()) 
                                                               & (MERGE_MDM_NB_HES_NB['MDM_IP'].notnull())]


IP_DATA_MDM_NB_HES_NB_METER_SAME_IP_DIFF.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\IP_DATA_MDM_NB_HES_NB_METER_SAME_IP_DIFF.csv")

In [74]:
IP_DATA_MDM_NB_HES_NB_METER_SAME_IP_DIFF.shape

(14423, 17)

In [60]:
# CASE 2  : -   WHERE UTILITY AND METER NO. OF MDM AND HES IS SAME  FOR SB DATA  BUT IP IS DIFF 



IP_DATA_MDM_SB_HES_SB_METER_SAME_IP_DIFF = MERGE_MDM_SB_HES_SB[(MERGE_MDM_SB_HES_SB['MDM_METERNO']==MERGE_MDM_SB_HES_SB['HES_METER_NO']) 
                                                               & (MERGE_MDM_SB_HES_SB['MDM_IP']!=MERGE_MDM_SB_HES_SB['HES_IP']) 
                                                               & (MERGE_MDM_SB_HES_SB['HES_IP'].notnull()) 
                                                               & (MERGE_MDM_SB_HES_SB['MDM_IP'].notnull())]


IP_DATA_MDM_SB_HES_SB_METER_SAME_IP_DIFF.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\IP_DATA_MDM_SB_HES_SB_METER_SAME_IP_DIFF.csv")

In [77]:
IP_DATA_MDM_SB_HES_SB_METER_SAME_IP_DIFF.shape

(27234, 17)

In [62]:
# CASE 3 :- WHERE MDM IN NB  AND HES IN SB :- WHERE METER NO. IS SAME IN MDM NB AND HES SB  BUT  UTILITY AND IP IS DIFF




IP_DATA_MDM_NB_HES_SB_METER_SAME_UTILITY_DIFF_IP_DIFF = MERGE_MDM_NB_HES_SB[(MERGE_MDM_NB_HES_SB['MDM_METERNO']==MERGE_MDM_NB_HES_SB['HES_METER_NO']) 
                                                               & (MERGE_MDM_NB_HES_SB['MDM_IP']!=MERGE_MDM_NB_HES_SB['HES_IP']) 
                                                               & (MERGE_MDM_NB_HES_SB['HES_IP'].notnull()) 
                                                               & (MERGE_MDM_NB_HES_SB['MDM_IP'].notnull())]


IP_DATA_MDM_NB_HES_SB_METER_SAME_UTILITY_DIFF_IP_DIFF.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\IP_DATA_MDM_NB_HES_SB_METER_SAME_UTILITY_DIFF_IP_DIFF.csv")

In [75]:
IP_DATA_MDM_NB_HES_SB_METER_SAME_UTILITY_DIFF_IP_DIFF.shape

(154, 17)

In [66]:
# CASE 4 :- WHERE MDM IN SB  AND HES IN NB :- WHERE METER NO. IS SAME IN MDM SB AND HES NB  BUT  UTILITY AND IP IS DIFF




IP_DATA_MDM_SB_HES_NB_METER_SAME_UTILITY_DIFF_IP_DIFF = MERGE_MDM_SB_HES_NB[(MERGE_MDM_SB_HES_NB['MDM_METERNO']==MERGE_MDM_SB_HES_NB['HES_METER_NO']) 
                                                               & (MERGE_MDM_SB_HES_NB['MDM_IP']!=MERGE_MDM_SB_HES_NB['HES_IP']) 
                                                               & (MERGE_MDM_SB_HES_NB['HES_IP'].notnull()) 
                                                               & (MERGE_MDM_SB_HES_NB['MDM_IP'].notnull())]


IP_DATA_MDM_SB_HES_NB_METER_SAME_UTILITY_DIFF_IP_DIFF.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\IP_DATA_MDM_SB_HES_NB_METER_SAME_UTILITY_DIFF_IP_DIFF.csv")

In [79]:
IP_DATA_MDM_SB_HES_NB_METER_SAME_UTILITY_DIFF_IP_DIFF.shape

(203, 17)

#### CASE WHERE IP IS SAME BUT UTILITY AND METER NO. IS DIFF

In [70]:
# CASE 5 : - WHERE UTILITY - NB AND IP OF MDM AND HES IS SAME   BUT METER NO. IS DIFF

IP_DATA_MDM_NB_HES_NB_METER_DIFF_UTILITY_SAME_IP_SAME=MERGE_MDM_NB_HES_NB_ON_IP[(MERGE_MDM_NB_HES_NB_ON_IP['MDM_METERNO']!=MERGE_MDM_NB_HES_NB_ON_IP['HES_METER_NO']) 
                                                               & (MERGE_MDM_NB_HES_NB_ON_IP['MDM_IP']==MERGE_MDM_NB_HES_NB_ON_IP['HES_IP']) 
                                                               & (MERGE_MDM_NB_HES_NB_ON_IP['HES_IP'].notnull()) 
                                                               & (MERGE_MDM_NB_HES_NB_ON_IP['MDM_IP'].notnull())
                                                               & (MERGE_MDM_NB_HES_NB_ON_IP['MDM_METERNO'].notnull())
                                                               & (MERGE_MDM_NB_HES_NB_ON_IP['HES_METER_NO'].notnull())
                                                               
                                                               ]


IP_DATA_MDM_NB_HES_NB_METER_DIFF_UTILITY_SAME_IP_SAME.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\IP_DATA_MDM_NB_HES_NB_METER_DIFF_UTILITY_SAME_IP_SAME.csv")

In [80]:
IP_DATA_MDM_NB_HES_NB_METER_DIFF_UTILITY_SAME_IP_SAME.shape

(28991, 17)

In [81]:
IP_DATA_MDM_NB_HES_NB_METER_DIFF_UTILITY_SAME_IP_SAME.head(2)

,MDM_UTILITY,MDM_STATUS_CD,MDM_INSERT_TIME,MDM_INSTALLATIONNO,MDM_METERNO,MDM_CONSUMERNO,MDM_ASSET_METERNUMBER,MDM_ASSET_INSTALLATIONNUMBER,MDM_IP,MDM_DUPLICATE,HES_INSTALLATIONDATETIME,HES_UTILITY,HES_INSTALLATION_NO,HES_METER_NO,HES_STATUS,HES_IP,HES_DUPLICATED_INFRA
9237,NBPDCL,Installed,9/5/2023 12:16:21 PM,5002648047,LNTLT0033628,401103766,LNTLT0033628,5002648047,2405:0203:0520:8C80:0000:0000:0000:0010,Unique,10/6/2021 12:30:00 PM,NBPDCL,5002704338,LNTLT0033627,Imported&&Installed,2405:0203:0520:8C80:0000:0000:0000:0010,Unique
10886,NBPDCL,Installed,9/4/2023 6:15:45 PM,5004008784,LNTLT0032535,402256863,LNTLT0032535,5004008784,2405:0203:0520:883B:0000:0000:0000:0010,Unique,10/21/2021 11:42:00 AM,NBPDCL,DALDLW-36,LNTLT0032534,Imported&&Installed,2405:0203:0520:883B:0000:0000:0000:0010,Unique

In [71]:
# CASE 6 : - WHERE UTILITY-SB AND IP OF MDM AND HES IS SAME   BUT METER NO. IS DIFF

IP_DATA_MDM_SB_HES_SB_METER_DIFF_UTILITY_SAME_IP_SAME = MERGE_MDM_SB_HES_SB_ON_IP[(MERGE_MDM_SB_HES_SB_ON_IP['MDM_METERNO']!=MERGE_MDM_SB_HES_SB_ON_IP['HES_METER_NO']) 
                                                               & (MERGE_MDM_SB_HES_SB_ON_IP['MDM_IP']==MERGE_MDM_SB_HES_SB_ON_IP['HES_IP']) 
                                                               & (MERGE_MDM_SB_HES_SB_ON_IP['HES_IP'].notnull()) 
                                                               & (MERGE_MDM_SB_HES_SB_ON_IP['MDM_IP'].notnull())
                                                               & (MERGE_MDM_SB_HES_SB_ON_IP['MDM_METERNO'].notnull())
                                                               & (MERGE_MDM_SB_HES_SB_ON_IP['HES_METER_NO'].notnull())
                                                               
                                                               ]


IP_DATA_MDM_SB_HES_SB_METER_DIFF_UTILITY_SAME_IP_SAME.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\IP_DATA_MDM_SB_HES_SB_METER_DIFF_UTILITY_SAME_IP_SAME.csv")

In [82]:
IP_DATA_MDM_SB_HES_SB_METER_DIFF_UTILITY_SAME_IP_SAME.shape

(11210, 17)

In [72]:
# CASE 7 :- WHERE UTILITY IS DIFF , MDM SB, HES NB  ,  METER NO IS DIFF,  BUT IP IS SAME 



IP_DATA_MDM_SB_HES_NB_METER_DIFF_UTILITY_DIFF_IP_SAME = MERGE_MDM_SB_HES_NB_ON_IP[(MERGE_MDM_SB_HES_NB_ON_IP['MDM_METERNO']!=MERGE_MDM_SB_HES_NB_ON_IP['HES_METER_NO']) 
                                                               & (MERGE_MDM_SB_HES_NB_ON_IP['MDM_IP']==MERGE_MDM_SB_HES_NB_ON_IP['HES_IP']) 
                                                               & (MERGE_MDM_SB_HES_NB_ON_IP['HES_IP'].notnull()) 
                                                               & (MERGE_MDM_SB_HES_NB_ON_IP['MDM_IP'].notnull())
                                                               & (MERGE_MDM_SB_HES_NB_ON_IP['MDM_METERNO'].notnull())
                                                               & (MERGE_MDM_SB_HES_NB_ON_IP['HES_METER_NO'].notnull())
                                                               
                                                               ]


IP_DATA_MDM_SB_HES_NB_METER_DIFF_UTILITY_DIFF_IP_SAME.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\IP_DATA_MDM_SB_HES_NB_METER_DIFF_UTILITY_DIFF_IP_SAME.csv")

In [83]:
IP_DATA_MDM_SB_HES_NB_METER_DIFF_UTILITY_DIFF_IP_SAME.shape

(2771, 17)

In [84]:
IP_DATA_MDM_SB_HES_NB_METER_DIFF_UTILITY_DIFF_IP_SAME.head(2)

,MDM_UTILITY,MDM_STATUS_CD,MDM_INSERT_TIME,MDM_INSTALLATIONNO,MDM_METERNO,MDM_CONSUMERNO,MDM_ASSET_METERNUMBER,MDM_ASSET_INSTALLATIONNUMBER,MDM_IP,MDM_DUPLICATE,HES_INSTALLATIONDATETIME,HES_UTILITY,HES_INSTALLATION_NO,HES_METER_NO,HES_STATUS,HES_IP,HES_DUPLICATED_INFRA
4658,SBPDCL,Installed,9/7/2023 12:58:20 PM,DUM178071,LNTLT0178071,1000004,LNTLT0178071,DUM178071,2405:0203:0522:D3E4:0000:0000:0000:0010,Duplicated,12/30/2023 6:10:55 PM,NBPDCL,520712246737,LNTLT0162158,Imported&&Installed,2405:0203:0522:D3E4:0000:0000:0000:0010,Unique
15724,SBPDCL,Installed,9/30/2023 6:12:07 PM,523711004387,LNTLT0562410,222109719404,LNTLT0562410,523711004387,2405:0203:0529:3436:0000:0000:0000:0010,Duplicated,2/20/2024 6:26:57 PM,NBPDCL,520412643509,LNTLT0422362,Imported&&Installed,2405:0203:0529:3436:0000:0000:0000:0010,Unique

In [73]:
# CASE 8 :- WHERE UTILITY IS DIFF , MDM NB, HES SB  ,  METER NO IS DIFF,  BUT IP IS SAME 



IP_DATA_MDM_NB_HES_SB_METER_DIFF_UTILITY_DIFF_IP_SAME = MERGE_MDM_NB_HES_SB_ON_IP[(MERGE_MDM_NB_HES_SB_ON_IP['MDM_METERNO']!=MERGE_MDM_NB_HES_SB_ON_IP['HES_METER_NO']) 
                                                               & (MERGE_MDM_NB_HES_SB_ON_IP['MDM_IP']==MERGE_MDM_NB_HES_SB_ON_IP['HES_IP']) 
                                                               & (MERGE_MDM_NB_HES_SB_ON_IP['HES_IP'].notnull()) 
                                                               & (MERGE_MDM_NB_HES_SB_ON_IP['MDM_IP'].notnull())
                                                               & (MERGE_MDM_NB_HES_SB_ON_IP['MDM_METERNO'].notnull())
                                                               & (MERGE_MDM_NB_HES_SB_ON_IP['HES_METER_NO'].notnull())
                                                               
                                                               ]


IP_DATA_MDM_NB_HES_SB_METER_DIFF_UTILITY_DIFF_IP_SAME.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\IP_DATA_MDM_NB_HES_SB_METER_DIFF_UTILITY_DIFF_IP_SAME.csv")

In [85]:
IP_DATA_MDM_NB_HES_SB_METER_DIFF_UTILITY_DIFF_IP_SAME.shape

(27034, 17)

In [86]:
IP_DATA_MDM_NB_HES_SB_METER_DIFF_UTILITY_DIFF_IP_SAME.head(2)

,MDM_UTILITY,MDM_STATUS_CD,MDM_INSERT_TIME,MDM_INSTALLATIONNO,MDM_METERNO,MDM_CONSUMERNO,MDM_ASSET_METERNUMBER,MDM_ASSET_INSTALLATIONNUMBER,MDM_IP,MDM_DUPLICATE,HES_INSTALLATIONDATETIME,HES_UTILITY,HES_INSTALLATION_NO,HES_METER_NO,HES_STATUS,HES_IP,HES_DUPLICATED_INFRA
3261,NBPDCL,Installed,9/8/2021 8:13:01 PM,DALDLE-2299,GOEGP7607660,1151010914,GOEGP7607660,DALDLE-2299,fd00:0000:0800:6AD5:0000:0000:0000:0001,Unique,1/10/2024 12:29:38 PM,SBPDCL,5001731484,GOEGP7456083,Imported&&Installed,fd00:0000:0800:6AD5:0000:0000:0000:0001,Unique
6074,NBPDCL,Installed,9/7/2021 3:18:52 PM,5002982871,GOEGP7608463,401504392,GOEGP7608463,5002982871,fd00:0000:0800:7B07:0000:0000:0000:0001,Unique,1/18/2024 8:06:28 PM,SBPDCL,5001853622,GOEGP7508868,Imported&&Installed,fd00:0000:0800:7B07:0000:0000:0000:0001,Unique

# working on NB data

####  working on utility in hes and mdm

In [ ]:
DATA_UTILITY_MDM_NB_HES_SB=MERGE_MDM_HES_NB[(MERGE_MDM_HES_NB['MDM_UTILITY']=='NBPDCL') & (MERGE_MDM_HES_NB['HES_UTILITY'] =='SBPDCL')]

DATA_UTILITY_MDM_NB_HES_SB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\DATA_UTILITY_MDM_NB_HES_SB.csv")

### working on IP

In [ ]:
DATA_IP_MDM_HES_NB =MERGE_MDM_HES_NB[(MERGE_MDM_HES_NB['MDM_METERNO']==MERGE_MDM_HES_NB['HES_METER_NO']) & (MERGE_MDM_HES_NB['MDM_IP']!=MERGE_MDM_HES_NB['HES_IP']) & (MERGE_MDM_HES_NB['HES_IP'].notnull()) & (MERGE_MDM_HES_NB['MDM_IP'].notnull())]

DATA_IP_MDM_HES_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\DATA_IP_MDM_HES_NB.csv")

###  Working on Installation no data

In [ ]:
DATA_installation_no_MDM_HES_NB = MERGE_MDM_HES_NB[(MERGE_MDM_HES_NB['MDM_METERNO']==MERGE_MDM_HES_NB['HES_METER_NO']) & (MERGE_MDM_HES_NB['MDM_INSTALLATIONNO']!=MERGE_MDM_HES_NB['HES_INSTALLATION_NO']) & (MERGE_MDM_HES_NB['MDM_INSTALLATIONNO'].notnull()) & (MERGE_MDM_HES_NB['HES_INSTALLATION_NO'].notnull())]

DATA_installation_no_MDM_HES_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\DATA_installation_no_MDM_HES_NB.csv")

# working on SB data



####  working on utility in hes and mdm

In [ ]:
DATA_UTILITY_MDM_SB_HES_NB=MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_UTILITY']=='SBPDCL') & (MERGE_MDM_HES_SB['HES_UTILITY'] =='NBPDCL')]

DATA_UTILITY_MDM_SB_HES_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\DATA_UTILITY_MDM_SB_HES_NB.csv")

#### working on IP

In [ ]:
DATA_IP_MDM_HES_SB =MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_METERNO']==MERGE_MDM_HES_SB['HES_METER_NO']) & (MERGE_MDM_HES_SB['MDM_IP']!=MERGE_MDM_HES_SB['HES_IP']) & (MERGE_MDM_HES_SB['HES_IP'].notnull()) & (MERGE_MDM_HES_SB['MDM_IP'].notnull())]

DATA_IP_MDM_HES_SB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\DATA_IP_MDM_HES_SB.csv")

###  Working on Installation no data

In [ ]:
DATA_installation_no_MDM_HES_SB = MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_METERNO']==MERGE_MDM_HES_SB['HES_METER_NO']) & (MERGE_MDM_HES_SB['MDM_INSTALLATIONNO']!=MERGE_MDM_HES_SB['HES_INSTALLATION_NO']) & (MERGE_MDM_HES_SB['MDM_INSTALLATIONNO'].notnull()) & (MERGE_MDM_HES_SB['HES_INSTALLATION_NO'].notnull())]

DATA_installation_no_MDM_HES_SB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\DATA_installation_no_MDM_HES_SB.csv")

### 1.  MDM UTILITY == SBPDCL   and  HES UTILITY == NBPDCL

In [ ]:
SB_DATA_CHECK_UTILITY_MDM_SB_HES_NB=MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_UTILITY']=='SBPDCL') & (MERGE_MDM_HES_SB['HES_UTILITY'] =='NBPDCL') ]

:

:

:

:

In [ ]:
SB_DATA_CHECK_UTILITY_MDM_SB_HES_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\SB_DATA_CHECK_UTILITY_MDM_SB_HES_NB.csv",index=False)

:

:

:

:

:

:

:

:

In [ ]:
MERGE_MDM_HES_SB.head(2)

,MDM_METERNUMBER,MDM_UDC_ID,MDM_NETWORK_ID,MDM_INSTALLATIONNUMBER,MDM_STATUS,MDM_INSERT_TIME,MDM_UTILITY,HES_INSTALLATIONDATETIME,HES_ENTRYDATETIME,HES_UTILITY,HES_UTILITYSITEID,HES_UTILITYDEVICEID,HES_STATENAME,HES_IP
0,GOEGP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GOEGP4962320,404751250451741,2001:4490:0800:A6F5:0000:0000:0000:1,ARWARL9082,Installed,9/2/2019 1:08:20 AM,SBPDCL,9/4/2019 10:33:55 PM,8/16/2019 4:10:02 PM,SBPDCL,ARWARL9082,GOEGP4962320,Imported&&Installed,2001:4490:0800:A6F5:0000:0000:0000:0001

:

:

:

:

### 2. IP DIFF IN MDM AND HES

In [ ]:
SB_DATA_CHECK_IP_MDM_AND_HES = MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_NETWORK_ID']!=MERGE_MDM_HES_SB['HES_IP']) & (MERGE_MDM_HES_SB['HES_IP'].notnull())]

:

:

:

:

In [ ]:
SB_DATA_CHECK_IP_MDM_AND_HES.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\SB_DATA_CHECK_IP_MDM_AND_HES.csv",index=False)

:

:

:

:

(38008, 14)

:

:

:

:

In [ ]:
### 3. INSTALLATION NO. DIFF IN MDM AND HES

:

:

:

:

In [ ]:
SB_DATA_CHECK_INSTALLATION_MDM_AND_HES = MERGE_MDM_HES_SB[(MERGE_MDM_HES_SB['MDM_INSTALLATIONNUMBER'] != MERGE_MDM_HES_SB['HES_UTILITYSITEID']) & (MERGE_MDM_HES_SB['HES_UTILITYSITEID'].notnull())]

:

:

:

:

In [ ]:
SB_DATA_CHECK_INSTALLATION_MDM_AND_HES.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER\SB_DATA_CHECK_INSTALLATION_MDM_AND_HES.csv",index=False)

:

:

:

:

,MDM_METERNUMBER,MDM_UDC_ID,MDM_NETWORK_ID,MDM_INSTALLATIONNUMBER,MDM_STATUS,MDM_INSERT_TIME,MDM_UTILITY,HES_INSTALLATIONDATETIME,HES_ENTRYDATETIME,HES_UTILITY,HES_UTILITYSITEID,HES_UTILITYDEVICEID,HES_STATENAME,HES_IP
0,GOEGP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,nan,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,None,None,None,None

:

:

:

:

:

:

:

: