In [12]:
import pandas as pd

### MDM DATA CLEANING

In [13]:
mdm_nb = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\ASSET_INITIATION_INVENTORY_nb.csv")
mdm_sb = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\ASSET_INITIATION_INVENTORY_sb.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23888\2900168889.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  mdm_nb = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\ASSET_INITIATION_INVENTORY_nb.csv")

In [14]:
mdm_sb.head(2)

,MeterNumber,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,InstallationNumber,Status,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4970536,GP4970536,404759210464493,2001:4490:0800:5FAC:0000:0000:0000:0001,ARWARL2013,Retired,8/1/2019 1:46:44 PM,SBPDCL
1,GOEGP4882550,GP4882550,404751250450725,2001:4490:0800:A4F1:0000:0000:0000:1,ARWARL5842,Installed,9/2/2019 1:08:20 AM,SBPDCL

In [15]:

mdm_nb = mdm_nb.astype(str)
mdm_sb = mdm_sb.astype(str)


mdm_nb.columns = mdm_nb.columns.str.strip()
mdm_sb.columns = mdm_sb.columns.str.strip()


mdm_sb.columns = mdm_sb.columns.str.upper()
mdm_nb.columns = mdm_nb.columns.str.upper()

In [16]:
# rename the column name

mdm_nb.rename(
    columns = {"METERNUMBER":"METERNUMBER_NB","MFG_SERIAL_NUM": "MFG_SERIAL_NUM_NB",
    "UDC_ID":"UDC_ID_NB","NETWORK_ID":"NETWORK_ID_NB",
    "INSTALLATIONNUMBER":"INSTALLATIONNUMBER_NB","STATUS":"STATUS_NB","INSERT_TIME":"INSERT_TIME_NB",
    "DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')":"UTILITY_NB"},inplace=True
)



#-----------------------------------------------------------------




mdm_sb.rename(
    columns = {"METERNUMBER":"METERNUMBER_SB","MFG_SERIAL_NUM": "MFG_SERIAL_NUM_SB",
    "UDC_ID":"UDC_ID_SB","NETWORK_ID":"NETWORK_ID_SB",
    "INSTALLATIONNUMBER":"INSTALLATIONNUMBER_SB","STATUS":"STATUS_SB","INSERT_TIME":"INSERT_TIME_SB",
    "DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')":"UTILITY_SB"},inplace=True
)

In [18]:
mdm_sb['STATUS_SB'].unique()

array(['Retired', 'Installed', 'Refurbished', 'Meter Shop'], dtype=object)

In [19]:
mdm_nb['STATUS_NB'].unique()

array(['Retired', 'Installed', 'Meter Shop', 'Refurbished', 'Duplicate'],
      dtype=object)

In [20]:
mdm_nb.head(2)

,METERNUMBER_NB,MFG_SERIAL_NUM_NB,UDC_ID_NB,NETWORK_ID_NB,INSTALLATIONNUMBER_NB,STATUS_NB,INSERT_TIME_NB,UTILITY_NB
0,GOEGP4968974,GP4968974,404759210464692,2001:4490:0800:6073:0000:0000:0000:0001,MUZW-2290805636,Retired,9/2/2019 1:07:37 AM,NBPDCL
1,GOEGP4881969,GP4881969,404751250450510,2001:4490:0800:A41A:0000:0000:0000:0001,DALGND-816,Installed,9/9/2019 1:01:27 AM,NBPDCL

In [21]:
mdm_sb.head(2)

,METERNUMBER_SB,MFG_SERIAL_NUM_SB,UDC_ID_SB,NETWORK_ID_SB,INSTALLATIONNUMBER_SB,STATUS_SB,INSERT_TIME_SB,UTILITY_SB
0,GOEGP4970536,GP4970536,404759210464493,2001:4490:0800:5FAC:0000:0000:0000:0001,ARWARL2013,Retired,8/1/2019 1:46:44 PM,SBPDCL
1,GOEGP4882550,GP4882550,404751250450725,2001:4490:0800:A4F1:0000:0000:0000:1,ARWARL5842,Installed,9/2/2019 1:08:20 AM,SBPDCL

### Merge the files

### case 1  :  meter no. is same in sb and nb   and both are in installed stage

In [33]:
Mdm_nb_sb_meter_no_data = pd.merge(mdm_nb,mdm_sb , left_on=['MFG_SERIAL_NUM_NB'], right_on = ['MFG_SERIAL_NUM_SB'], how = 'inner')
Mdm_nb_sb_meter_no_data = Mdm_nb_sb_meter_no_data[(Mdm_nb_sb_meter_no_data['STATUS_NB']=='Installed') & (Mdm_nb_sb_meter_no_data['STATUS_SB']=='Installed')]
Mdm_nb_sb_meter_no_data.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER MDM\Mdm_nb_sb_meter_no_data.csv")

### case 2  :  IP. is same in sb and nb   and both are in installed stage

In [35]:
MDM_NB_SB_IP_DATA = pd.merge(mdm_nb, mdm_sb , left_on= ['NETWORK_ID_NB'], right_on=['NETWORK_ID_SB'],how = 'inner')
MDM_NB_SB_IP_DATA = MDM_NB_SB_IP_DATA[(MDM_NB_SB_IP_DATA['STATUS_NB']=='Installed') & (MDM_NB_SB_IP_DATA['STATUS_SB']=='Installed')]
MDM_NB_SB_IP_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER MDM\MDM_NB_SB_IP_DATA.csv")

### case 3  :  IP and meter  is same in sb and nb   and both are in installed stage

In [36]:
MDM_NB_SB_IP_METER_DATA = pd.merge(mdm_nb, mdm_sb , left_on= ['MFG_SERIAL_NUM_NB','NETWORK_ID_NB'], right_on=['MFG_SERIAL_NUM_SB','NETWORK_ID_SB'],how = 'inner')
MDM_NB_SB_IP_METER_DATA = MDM_NB_SB_IP_METER_DATA[(MDM_NB_SB_IP_METER_DATA['STATUS_NB']=='Installed') & (MDM_NB_SB_IP_METER_DATA['STATUS_SB']=='Installed')]
MDM_NB_SB_IP_METER_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER MDM\MDM_NB_SB_IP_METER_DATA.csv")

### Case 4 : UDC_ID is same in sb and nb   and both are in installed stage

In [38]:
MDM_NB_SB_UDC_ID_DATA = pd.merge(mdm_nb, mdm_sb, left_on=['UDC_ID_NB'],right_on=['UDC_ID_SB'], how= 'inner')
MDM_NB_SB_UDC_ID_DATA = MDM_NB_SB_UDC_ID_DATA[(MDM_NB_SB_UDC_ID_DATA['STATUS_NB']=='Installed') & (MDM_NB_SB_UDC_ID_DATA['STATUS_SB']=='Installed')]
MDM_NB_SB_UDC_ID_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER MDM\MDM_NB_SB_UDC_ID_DATA.csv")

### Case 5 : UDC_ID  AND METER is same in sb and nb   and both are in installed stage

In [ ]:
WORK ON THIS

In [ ]:
MDM_NB_SB_UDC_ID_METER_DATA = pd.merge(mdm_nb, mdm_sb, left_on=['UDC_ID_NB'],right_on=['UDC_ID_SB'], how= 'inner')
MDM_NB_SB_UDC_ID_METER_DATA = MDM_NB_SB_UDC_ID_DATA[(MDM_NB_SB_UDC_ID_DATA['STATUS_NB']=='Installed') & (MDM_NB_SB_UDC_ID_DATA['STATUS_SB']=='Installed')]
MDM_NB_SB_UDC_ID_METER_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\OUTPUT FOLDER MDM\MDM_NB_SB_UDC_ID_DATA.csv")