In [1]:
import pandas as pd
import numpy as np
import os
import sys
from colorama import Fore, Back, Style
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

In [2]:
CurrentActiveMeters_MDMS=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\CurrentActiveMeters_MDMS.csv",encoding='latin-1')
NEW_CORRECT_DATA_102_NO_DUPLICATION = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\duplicate_data_mdm.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_35800\3713355638.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  CurrentActiveMeters_MDMS=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\MDM DATA NEW\CurrentActiveMeters_MDMS.csv",encoding='latin-1')

In [3]:
Duplicate_meter_list=CurrentActiveMeters_MDMS[CurrentActiveMeters_MDMS.duplicated(subset=['METER_MRID'],keep=False)]
Duplicate_meter_list.head()

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME
16212,5001365060,LNTLT0964748,100599582,AAFBSMO8,02-DEC-22 12.00.00.000000000 AM,12-MAR-2024 12:30:31,02-DEC-22 12.00.00.000000000 AM
23606,5004056835,GOEGP4977744,108748487,AAFBSMA1,03-JAN-24 12.00.00.000000000 AM,12-MAR-2024 12:30:31,06-JAN-24 12.00.00.000000000 AM
23838,5003955342,GOEGL9042911,402233650,FBDASMAA,24-JAN-24 03.30.57.000000000 PM,12-MAR-2024 12:30:31,27-DEC-23 12.00.00.000000000 AM
28803,5001377926,LNTLT0141023,100674586,ABAASMQ7,09-DEC-21 05.47.38.000000000 PM,12-MAR-2024 12:30:31,02-SEP-21 12.00.00.000000000 AM
37942,5003887664,LNTLT0471106,108463495,BCABSMQQ,16-AUG-22 12.00.00.000000000 AM,12-MAR-2024 12:30:31,25-AUG-22 12.00.00.000000000 AM

In [4]:
Duplicate_meter_list.shape

(204, 7)

# new data with no duplicate

In [5]:
NEW_CORRECT_DATA_102_NO_DUPLICATION.head(1)

,aa,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,Remark,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,830694,5004111555,GOEGL8573393,402301725.0,EADASMAA,1/22/2024,3/12/2024 12:30,24-JAN-24 12.00.00.000000000 AM,Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Removing unwanted column

NEW_CORRECT_DATA_102_NO_DUPLICATION.drop(['aa','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15'],axis=1,inplace=True)

In [7]:
NEW_CORRECT_DATA_102_NO_DUPLICATION.head()

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,Remark
0,5004111555,GOEGL8573393,402301725.0,EADASMAA,1/22/2024,3/12/2024 12:30,24-JAN-24 12.00.00.000000000 AM,Active
1,5003949995,GOEGL8612557,402294217.0,GBECSMAA,1/25/2024,3/12/2024 12:30,31-JAN-24 12.00.00.000000000 AM,Active
2,5004009309,GOEGL8889282,402311087.0,FBDASMAA,1/20/2024,3/12/2024 12:30,24-JAN-24 12.00.00.000000000 AM,Active
3,5004049867,GOEGL8907786,402308195.0,EADASMAA,1/25/2024,3/12/2024 12:30,31-JAN-24 12.00.00.000000000 AM,Active
4,5002572356,GOEGL8915219,401584792.0,EADASMPY,1/17/2024,3/12/2024 12:30,17-JAN-24 12.00.00.000000000 AM,Active

In [8]:
Duplicate_meter_list.head(2)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME
16212,5001365060,LNTLT0964748,100599582,AAFBSMO8,02-DEC-22 12.00.00.000000000 AM,12-MAR-2024 12:30:31,02-DEC-22 12.00.00.000000000 AM
23606,5004056835,GOEGP4977744,108748487,AAFBSMA1,03-JAN-24 12.00.00.000000000 AM,12-MAR-2024 12:30:31,06-JAN-24 12.00.00.000000000 AM

### dropping some rows from original data

In [9]:
# dropping 4 rows from the original data. bcz for that 4 rows.  installation no. is in diff format. and while merging the data with other data. it give some error
CurrentActiveMeters_MDMS.shape

(1564651, 7)

In [10]:
# drop these data bcz of format issue in corrected file.
# so that remove this manually

CurrentActiveMeters_MDMS=CurrentActiveMeters_MDMS[CurrentActiveMeters_MDMS['SDP_MRID']!='5000986813']
CurrentActiveMeters_MDMS=CurrentActiveMeters_MDMS[CurrentActiveMeters_MDMS['SDP_MRID']!='5002443548']

CurrentActiveMeters_MDMS=CurrentActiveMeters_MDMS[CurrentActiveMeters_MDMS['SDP_MRID']!='5000018324']

In [11]:
CurrentActiveMeters_MDMS.shape

(1564648, 7)

### removing the duplicate data

In [12]:
# now checking the duplicate data

Duplicate_meter_list_new=CurrentActiveMeters_MDMS[CurrentActiveMeters_MDMS.duplicated(subset=['METER_MRID'],keep=False)]
Duplicate_meter_list_new.shape

(198, 7)

In [ ]:
# Duplicate_meter_list_new

# NEW_CORRECT_DATA_102_NO_DUPLICATION

In [15]:
NEW_CORRECT_DATA_102_NO_DUPLICATION.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME,Remark
0,5004111555,GOEGL8573393,402301725.0,EADASMAA,1/22/2024,3/12/2024 12:30,24-JAN-24 12.00.00.000000000 AM,Active

# Merge data and

In [22]:
# merge duplicate list and correct data

Merge_duplicate_meter_and_102_correct_meter_list=pd.merge(Duplicate_meter_list_new,NEW_CORRECT_DATA_102_NO_DUPLICATION[['SDP_MRID','METER_MRID','MRU']],left_on=['METER_MRID','SDP_MRID'],right_on=['METER_MRID','SDP_MRID'],how='left')

# take only those data where data is not null()

Merge_duplicate_meter_and_102_correct_meter_list_final_list=Merge_duplicate_meter_and_102_correct_meter_list[Merge_duplicate_meter_and_102_correct_meter_list['MRU_y'].notnull()]

In [25]:
# drop a column

Merge_duplicate_meter_and_102_correct_meter_list_final_list.drop(columns=['MRU_y'],axis=1,inplace=True)


# rename column
Merge_duplicate_meter_and_102_correct_meter_list_final_list.rename(columns={'MRU_x':'MRU'},inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_35800\3550159402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Merge_duplicate_meter_and_102_correct_meter_list_final_list.drop(columns=['MRU_y'],axis=1,inplace=True)

In [29]:
Merge_duplicate_meter_and_102_correct_meter_list_final_list.head()

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME
1,5004056835,GOEGP4977744,108748487,AAFBSMA1,03-JAN-24 12.00.00.000000000 AM,12-MAR-2024 12:30:31,06-JAN-24 12.00.00.000000000 AM
2,5003955342,GOEGL9042911,402233650,FBDASMAA,24-JAN-24 03.30.57.000000000 PM,12-MAR-2024 12:30:31,27-DEC-23 12.00.00.000000000 AM
5,5002495767,GOEGP7456509,102137503,AAEASM7C,11-JAN-24 12.00.00.000000000 AM,12-MAR-2024 12:30:31,11-JAN-24 12.00.00.000000000 AM
6,5004090730,GOEGP7466838,108736307,ABFASMA1,06-JAN-24 12.00.00.000000000 AM,12-MAR-2024 12:30:31,08-JAN-24 12.00.00.000000000 AM
8,5001733294,GOEGP7606184,100857094,ABCASMO9,30-DEC-23 12.00.00.000000000 AM,12-MAR-2024 12:30:31,30-DEC-23 12.00.00.000000000 AM

In [37]:
Merge_duplicate_meter_and_102_correct_meter_list_final_list.shape

(99, 7)

In [30]:
CurrentActiveMeters_MDMS.shape

(1564648, 7)

In [31]:
Merge_duplicate_meter_and_102_correct_meter_list_final_list.shape

(99, 7)

In [36]:
CurrentActiveMeters_MDMS[CurrentActiveMeters_MDMS.duplicated(subset=['METER_MRID'],keep=False)].shape

(0, 7)

In [35]:
# removing duplicate data  from the CurrentActiveMeters_MDMS


CurrentActiveMeters_MDMS.drop_duplicates(subset=['METER_MRID'],keep=False,inplace=True)

In [39]:
CurrentActiveMeters_MDMS.shape

(1564450, 7)

In [40]:
FINAL_MDM_UNIQUE_DATA =pd.concat([CurrentActiveMeters_MDMS,Merge_duplicate_meter_and_102_correct_meter_list_final_list])

In [41]:
FINAL_MDM_UNIQUE_DATA.head(1)

,SDP_MRID,METER_MRID,ACCOUNT_UDC_ID,MRU,INSTALLATION_TIME,LAST_UPD_TIME,ACCNT_SDP_REL_START_TIME
0,ARWARL6108,GOEGP4969049,23230011234,IP_ARW_SIPAH1A,07-SEP-19 12.00.00.000000000 AM,12-MAR-2024 12:30:31,07-SEP-19 12.00.00.000000000 AM

In [42]:
FINAL_MDM_UNIQUE_DATA.shape

(1564549, 7)

# meter status file for utility

In [44]:
METER_STATUS_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_NB.csv")
METER_STATUS_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\hes_mdm\INPUT FOLDER\METER_STATUS_SB.csv")

In [45]:
METER_STATUS_NB = METER_STATUS_NB.astype(str)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.upper()
METER_STATUS_NB = METER_STATUS_NB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_NB.columns = METER_STATUS_NB.columns.str.strip()


METER_STATUS_SB = METER_STATUS_SB.astype(str)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.upper()
METER_STATUS_SB = METER_STATUS_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
METER_STATUS_SB.columns = METER_STATUS_SB.columns.str.strip()

In [ ]:
pd.concat([''])